@import "src/@fuse/scss/fuse";
@import "src/@fuse/scss/variables";

forgot-password {

    #forgot-password {
        width: 100%;
        background: url('assets/images/backgrounds/2020-06-01.png') no-repeat;
        background-color: #1BB0B4;
        background-size: cover;
        align-items: center;

        #forgot-password-form-wrapper {
            flex: 1 0 auto;
            padding: 32px;

            @include media-breakpoint('xs') {
                padding: 16px;
            }

            #forgot-password-form {
                position: relative;
                width: 450px;
                overflow: hidden;
                text-align: center;
                box-shadow: $custom-box-inner-shadow;
                background: rgba(244, 244, 244);
                border: 1px solid $layout-border-color;
                border-radius: 16px;

                @include media-breakpoint('xs') {
                    width: 100%;
                }

                h2 {
                    margin: 0;
                    display: block;
                    overflow: hidden;
                    font-weight: normal;
                }

                .desc {
                    font-size: 15px;
                    margin-top: 16px;
                    margin-bottom: 20px;
                }

                .logo {
                    width: 128px;
                    margin: 32px auto;
                }

                .title {
                    font-size: 20px;
                    margin: 16px 0 32px 0;
                }

                form {
                    width: 100%;
                    text-align: left;

                    mat-form-field {
                        width: 100%;
                    }

                    .submit-button {
                        width: 220px;
                        margin: 16px auto;
                        display: block;

                        @include media-breakpoint('xs') {
                            width: 90%;
                        }
                    }

                    .copyright {
                        display: block;
                        overflow: hidden;
                        padding: 16px 10px 0;
                        text-align: center;
                    }
                }

                .login {
                    margin: 8px auto 0px auto;
                    font-weight: 600;

                    .text {
                        margin-right: 8px;
                    }
                }
            }
        }
    }
}