@import "src/@fuse/scss/fuse";

apa-list-view {

    @include media-breakpoint('xs') {
        width: 100%;
    }

    @include media-breakpoint('gt-xs') {
        width: 640px;
    }

    .custom-icon{
        padding-left: unset;
    }


    .error{
        background: #fffbe6;
    }
    .content{
        background-color: white;
        margin: 25px;
    }
}