<form name="ChildSetUserForm" fxLayout="column" fxFlex [nzLayout]="'vertical'" [formGroup]="ChildSetUserForm" nz-form>

    <nz-input-group class="search-container"
        [nzSuffix]="suffixTemplate" 
        [nzPrefix]="prefixTemplate">
        <input type="text" nz-input placeholder="Search ..." formControlName="search" />
    </nz-input-group>

    <ng-template #prefixTemplate>
        <i nz-icon nzType="search" class="search-icon"></i>
    </ng-template>

    <ng-template #suffixTemplate>
        <i class="times circle outline icon ant-input-clear-icon"
            *ngIf="ChildSetUserForm.get('search').value"
            [@fadeInOnEnter] [@fadeOutOnLeave]
            (click)="clear($event)">
        </i>
    </ng-template>

    <div class="list-item-view"
        fusePerfectScrollbar 
        [fusePerfectScrollbarOptions]="{ suppressScrollX: true }">

        <nz-radio-group formControlName="user">

            <div *ngIf="(users | filterByImpure: searchProperties: ChildSetUserForm.get('search').value).length > 0; else typeEmpty" [@animate]="{ value:'*', params:{ delay: '100ms', y:'10px' } }">

                <ng-container *ngFor="let item of users | filterByImpure: searchProperties: ChildSetUserForm.get('search').value; trackBy: item?.index;">
    
                    <label nz-radio 
                        nzValue="{{ item.id }}" 
                        [ngStyle]="{ 'display': 'block' }" 
                        fxLayout="row" fxLayoutAlign="start center" 
                        class="list-item">
    
                        <img src="{{ item.getImage() }}" alt="{{ item.getFullName() }}" class="img-bg mr-16">
    
                        <span class="text-truncate">
                            <p class="m-0">{{ item.getFullName() }}</p>
                            <p class="m-0"><small>{{ item.email }}</small></p>
                        </span>
    
                    </label>
    
                </ng-container>

            </div>

            <ng-template #typeEmpty>
                
                <div [@animate]="{ value:'*', params:{ delay: '100ms', y:'-10px' } }">

                    <nz-empty
                        class="e-sm-img"
                        [nzNotFoundImage]="'assets/icons/flat/ui_set/custom_icons/empty.svg'"
                        [nzNotFoundContent]="contentTpl">
                    </nz-empty>
    
                    <ng-template #contentTpl>
                        <span>No Data</span>
                    </ng-template>

                </div>

            </ng-template>

        </nz-radio-group>

    </div>

</form>