<div class="header p-24 pt-32">
    <span class="title">Filters</span>
</div>
<div class="content p-24 pt-0" fusePerfectScrollbar [fusePerfectScrollbarOptions]="{ suppressScrollX: true }">

    <form fxLayout="column" fxFlex [formGroup]="ccsFiltersForm">
        <div class="mb-16">
            <nz-radio-group formControlName="status" [nzDisabled]="ccsFiltersForm.controls['status'].disabled">
                <label nz-radio nzValue="0" class="_filter">Valid</label>
                <label nz-radio nzValue="1" class="_filter">Expired</label>
                <label nz-radio nzValue="all" class="_filter">All</label>

            </nz-radio-group>

        </div>

    </form>

</div>