<!-- CONTENT CARD -->

<div class="content" [@animate]="{ value:'*', params:{ delay: '100ms', y:'15px' } }">
    <!-- CONTENT TOOLBAR -->
    <div class="help-panel" [@slideMotion]="'bottom'">

        <div class="booking-summary">

            <ul [ngClass]="{'activeUl': this.statusValue.status===5}">
                <li (click)="widgetFilter(5, $event)">
                    <img src="assets/images/waitlist-widgets/enquired-widget.png" class="half mr-4"
                         alt="Kinder m8 Logo">
                    <span class="label">
                        Enquired
                    </span>
                    <span class="label highlight">{{  enquiredCount }}</span>
                </li>
            </ul>

            <ul [ngClass]="{'activeUl': this.statusValue.status===0 || this.statusValue.status===4}">
                <li (click)="widgetFilter(0, $event)">
                    <img src="assets/images/waitlist-widgets/waitlist-widget.png" class="half mr-4"
                         alt="Kinder m8 Logo">
                    <span class="label">
                        Waitlisted
                    </span>
                    <span class="label highlight">{{  waitlistCount }}</span>
                </li>
            </ul>

            <ul [hidden]="true" [ngClass]="{'activeUl': this.statusValue.status===1 || this.statusValue.status===4}">
                <li (click)="widgetFilter(1, $event)">
                    <img src="assets/images/waitlist-widgets/emailed-widget.png" class="half mr-4" alt="Kinder m8 Logo">
                    <span class="label">
                        Emailed
                    </span>
                    <span class="label highlight">{{ emailedCount }}</span>
                </li>
            </ul>

            <ul [ngClass]="{'activeUl': this.statusValue.status===2 || this.statusValue.status===4}">
                <li (click)="widgetFilter(2, $event)">
                    <img src="assets/images/waitlist-widgets/enroled-widget.png" class="half mr-4" alt="Kinder m8 Logo">
                    <span class="label">
                        Enrolled
                    </span>
                    <span class="label highlight">{{ enroledtCount }}</span>
                </li>
            </ul>

            <ul [ngClass]="{'activeUl': this.statusValue.status===3 || this.statusValue.status===4}">
                <li (click)="widgetFilter(3, $event)">
                    <img src="assets/images/waitlist-widgets/active-widget.png" class="half mr-4" alt="Kinder m8 Logo">
                    <span class="label">
                        Active
                    </span>
                    <span class="label highlight">{{ activetCount }}</span>
                </li>
            </ul>

            <!-- <ul>
                <li (click)="widgetFilter(4, $event)" style="margin-right: 10px">
                    <img src="assets/icons/flat/282103-user-interface/png/refresh.png" class="half mr-8"
                         alt="Kinder m8 Logo" style="width: 25px;">
                    <span class="label">
                        All
                    </span>
                </li>
            </ul> -->

        </div>
    </div>
    <!-- SEARCH -->
    <div class="toolbar px-8 py-8" fxLayout="row" fxLayoutAlign="space-between center">
        <span fxLayout="row" fxLayoutAlign="space-between center">

            <button class="text-uppercase blank" nz-button nzType="link" (click)="toggleSidebar('table-sidebar')">
                <i class="filter icon custom-icon"></i>
            </button>

            <nz-divider nzType="vertical" class="mr-16"></nz-divider>

        </span>
        <nz-input-group class="search-container" [nzSuffix]="suffixTemplate" [nzPrefix]="prefixTemplate">
            <input type="text" nz-input placeholder="Search ..." [formControl]="searchInput"/>
        </nz-input-group>

        <ng-template #prefixTemplate>
            <i nz-icon nzType="search" class="search-icon"></i>
        </ng-template>

        <ng-template #suffixTemplate>
            <i class="times circle outline icon ant-input-clear-icon" *ngIf="searchInput.value" [@fadeInOnEnter]
               [@fadeOutOnLeave]
               (click)="clearSearch($event)">
            </i>
            <!-- <i class="times circle outline icon ant-input-clear-icon" [@fadeInOnEnter] [@fadeOutOnLeave] (click)="clearSearch($event)">
            </i> -->
        </ng-template>

    </div>
    <!--/ SEARCH -->

    <!-- / CONTENT TOOLBAR -->
    <ng-container>

        <nz-table #headerTable
                  [nzShowSizeChanger]="pageSizeChanger"
                  [nzFrontPagination]="false"
                  [nzData]="Waitlist"
                  [nzLoading]="tableLoading"
                  [nzTotal]="total"
                  [(nzPageIndex)]="pageIndex"
                  [(nzPageSize)]="pageSize"
                  [nzPageSizeOptions]="pageSizeOptions"
                  (nzPageIndexChange)="onTableChange()"
                  (nzPageSizeChange)="onTableChange(true)"
                  [nzNoResult]="emptyBlock"
                  [nzLoadingIndicator]="indicatorTemplate"
                  [nzSimple]="mobilePagination">

            <thead>
            <tr *ngIf="this.statusValue.status !== 5">
                <!--                <th nzWidth="30px" hidden>Image</th>-->
                <th nzWidth="30px">Child Name</th>
                <th nzWidth="30px">Age</th>
                <th *ngIf="siteManager" nzWidth="30px">Branch Name</th>
                <th nzWidth="30px">Parent Name</th>
                <th nzWidth="20px">Status</th>
                <th nzWidth="80px">Submitted Date</th>
                <th nzWidth="80px">Enrolment Date</th>
                <th nzWidth="40px">#Days Waiting</th>
                <th nzWidth="80px">Action</th>
            </tr>
            <tr *ngIf="this.statusValue.status === 5">
                <!--                <th nzWidth="30px" hidden>Image</th>-->
                <th *ngIf="siteManager" nzWidth="30px">Branch Name</th>
                <th nzWidth="30px">Parent Name</th>
                <th nzWidth="30px">Phone</th>
                <th nzWidth="30px">Email</th>
                <th nzWidth="20px">Child's Age</th>
                <th nzWidth="80px">Status</th>
                <th nzWidth="80px">Submitted Date</th>
                <th nzWidth="40px">#Days Waiting</th>
                <th nzWidth="80px">Action</th>
            </tr>
            </thead>
            <tbody *ngIf="this.statusValue.status !== 5">

            <tr *ngFor="let item of headerTable.data">
                <!--                <td nzWidth="30px" hidden>-->
                <!--                    <img src="assets/icons/flat/ui_set/custom_icons/boy.svg" class="user-pic" alt="child">-->
                <!--                </td>-->
                <td nzWidth="30px">{{ (item.waitlist_info.child_firstname) ? item.waitlist_info.child_firstname + ' ' + item.waitlist_info.child_lastname : ''}}</td>
                <td nzWidth="30px">{{((((getage(item.waitlist_info.child_date_of_birth)).replace(' Years and', 'Y')).replace(' Months', 'M')).replace(' Year', 'Y')).replace(' and', '') }}</td>
                <!--                <td nzWidth="30px">{{ getage(item.waitlist_info.child_date_of_birth) }}</td>-->
                <td *ngIf="siteManager" nzWidth="30px">{{ item.branch_name }}</td>
                <td nzWidth="30px">{{ (item.waitlist_info.parent_firstname) ? item.waitlist_info.parent_firstname + ' ' + item.waitlist_info.parent_lastname : ''}}</td>
                <td nzWidth="20px">
                    <span *ngIf="item.status == '0'" class=" label-tag green-600 txt-w">Waitlisted</span>

                    <span *ngIf="item.status == '1'" class=" label-tag orange-600 txt-w">Enrolment form sent</span>

                    <span *ngIf="item.status == '2'" class=" label-tag blue-600 txt-w">Enrolled</span>

                    <span *ngIf="item.status == '3'" class=" label-tag grey-600 txt-w">Active</span>
                </td>
                <td nzWidth="80px">{{ item.submitted_date | date:'dd-MM-yyyy'}}</td>
                <td nzWidth="80px">{{ item.waitlist_info.enrollment_start_date | date:'dd-MM-yyyy'}}</td>
                <td nzWidth="40px">{{ item.application_date}}</td>
                <td *hasPermission="['AC0','AC1','AC2', 'AC3']; belongsTo 'N26'" class="tbl-style">

                    <button nz-button nzType="link" nzSize="large" [matMenuTriggerFor]="menu">
                        <i class="ellipsis vertical icon"></i>
                    </button>

                    <mat-menu #menu="matMenu" backdropClass="tlp-more">

                        <ng-container *hasPermission="['AC0']; belongsTo 'N26'">
                            <button mat-menu-item (click)="parentEnroll(item, $event)" *ngIf="item.status == '0'">
                                <i class="mail outline icon primary-color"></i>
                                <span class="font-weight-600">Email Enrolment Form</span>
                            </button>

                            <ng-container *hasPermission="['AC0','AC1']; belongsTo 'N26'">
                                <button mat-menu-item (click)="adminEnroll(item, $event)"
                                        *ngIf="item.status == '0' || item.status == '1'">
                                    <i class="plus icon primary-color"></i>
                                    <span class="font-weight-600">Direct Enrol</span>
                                </button>
                            </ng-container>

                            <ng-container *hasPermission="['AC2']; belongsTo 'N26'">
                                <button mat-menu-item (click)="editWaitlist(item, $event)"
                                        *ngIf="item.status == '0' || item.status == '1'">
                                    <i class="edit outline icon primary-color"></i>
                                    <span class="font-weight-600">Edit Form</span>
                                </button>
                            </ng-container>

                            <ng-container *hasPermission="['AC2']; belongsTo 'N26'">
                                <button mat-menu-item (click)="editEnrolment(item, $event)" *ngIf="item.status == '2'">
                                    <i class="edit outline icon primary-color"></i>
                                    <span class="font-weight-600">Edit Form</span>
                                </button>
                            </ng-container>

                            <ng-container *hasPermission="['AC0']; belongsTo 'N26'">
                                <button mat-menu-item (click)="viewBeforeEnroll(item, $event)"
                                        *ngIf="item.status == '0' || item.status == '1'">
                                    <i class="clipboard outline icon primary-color"></i>
                                    <span class="font-weight-600">View Form</span>
                                </button>
                            </ng-container>

                            <ng-container *hasPermission="['AC0']; belongsTo 'N26'">
                                <button mat-menu-item (click)="viewBeforeActivate(item, $event)"
                                        *ngIf="item.status == '2' || item.status=='3'">
                                    <i class="clipboard outline icon primary-color"></i>
                                    <span class="font-weight-600">View Form</span>
                                </button>
                            </ng-container>

                            <ng-container *hasPermission="['AC0','AC!']; belongsTo 'N26'">
                                <button mat-menu-item (click)="notes(item, $event)"
                                        *ngIf="item.status == '2'|| item.status == '0' || item.status == '1'">
                                    <i class="edit outline icon primary-color"></i>
                                    <span class="font-weight-600">Add Notes</span>
                                </button>
                            </ng-container>

                            <ng-container *hasPermission="['AC2']; belongsTo 'N26'">
                                <button *ngIf="siteManager && (item.status == '0' || item.status == '2')" mat-menu-item
                                        (click)="branchChange(item, $event,item.status==0?'waitlist':'enrolment')">
                                    <i class="dyalog outline icon primary-color"></i>
                                    <span class="font-weight-600">Change Branch</span>
                                </button>
                            </ng-container>

                            <button mat-menu-item (click)="parentEnroll(item, $event)" *ngIf="item.status == '1'">
                                <i class="mail outline icon primary-color"></i>
                                <span class="font-weight-600">Resend</span>
                            </button>

                            <button mat-menu-item (click)="print(item, $event)">
                                <i class="print icon primary-color"></i>
                                <span class="font-weight-600">Print Form</span>
                            </button>

                            <ng-container *hasPermission="['AC0','AC1']; belongsTo 'N26'">
                                <button mat-menu-item (click)="activate(item, $event)" *ngIf="item.status == '2'">
                                    <i class="long arrow alternate left icon primary-color"></i>
                                    <span class="font-weight-600">Activate</span>
                                </button>
                            </ng-container>
                        </ng-container>

                        <ng-container *hasPermission="['AC3']; belongsTo 'N26'">
                            <button mat-menu-item (click)="delete(item, $event)">
                                <i class="trash alternate outline icon danger-color"></i>
                                <span class="font-weight-600">Delete Form</span>
                            </button>
                        </ng-container>

                    </mat-menu>

                </td>
            </tr>

            </tbody>

            <tbody *ngIf="this.statusValue.status === 5">

            <tr *ngFor="let item of headerTable.data">
                <td *ngIf="siteManager" nzWidth="30px">{{item.branch_name}}</td>
                <td nzWidth="30px">{{ (item.waitlist_info.firstname) ? item.waitlist_info.firstname + ' ' + item.waitlist_info.lastname : ''}}</td>
                <td nzWidth="30px">{{ item.waitlist_info.mobile }}</td>
                <td nzWidth="30px">{{ item.waitlist_info.email }}</td>
                <td nzWidth="30px">{{ item.waitlist_info.age }}</td>

                <td nzWidth="20px">
                    <span *ngIf="item.status == 5" class=" label-tag red-600 txt-w">Enquired</span>
                    <span *ngIf="item.status == 6" class=" label-tag blue-600 txt-w">Waitlist Sent</span>
                </td>
                <td nzWidth="80px">{{ item.submitted_date }}</td>
                <td nzWidth="80px">{{ item.application_date }}</td>
                <td *hasPermission="['AC0']; belongsTo 'N26'" class="tbl-style">

                    <button nz-button nzType="link" nzSize="large" [matMenuTriggerFor]="menu">
                        <i class="ellipsis vertical icon"></i>
                    </button>

                    <mat-menu #menu="matMenu" backdropClass="tlp-more">

                        <ng-container *hasPermission="['AC0']; belongsTo 'N26'">

                            <button mat-menu-item (click)="sendWaitlist(item, $event)">
                                <i class="mail outline icon primary-color"></i>
                                <span
                                    class="font-weight-600">{{item.status == 6 ? 'Resend' : 'Send Waitlist Form'}}</span>
                            </button>

                            <ng-container *hasPermission="['AC1']; belongsTo 'N26'">
                                <button mat-menu-item (click)="editWaitlist(item, $event)">
                                    <i class="plus icon primary-color"></i>
                                    <span class="font-weight-600">Direct Waitlist</span>
                                </button>
                            </ng-container>

                            <ng-container *hasPermission="['AC0','AC2']; belongsTo 'N26'">
                                <button mat-menu-item (click)="editEnquiry(item, $event)">
                                    <i class="edit outline icon primary-color"></i>
                                    <span class="font-weight-600">Edit Form</span>
                                </button>
                            </ng-container>

                            <ng-container *hasPermission="['AC0']; belongsTo 'N26'">
                                <button mat-menu-item (click)="notes(item, $event)">
                                    <i class="edit outline icon primary-color"></i>
                                    <span class="font-weight-600">Add Notes</span>
                                </button>
                            </ng-container>

                            <ng-container *hasPermission="['AC0','AC2']; belongsTo 'N26'">
                                <button *ngIf="siteManager" mat-menu-item
                                        (click)="branchChange(item, $event,'enquiry')">
                                    <i class="dyalog outline icon primary-color"></i>
                                    <span class="font-weight-600">Change Branch</span>
                                </button>
                            </ng-container>

                            <button mat-menu-item (click)="print(item, $event)">
                                <i class="print icon primary-color"></i>
                                <span class="font-weight-600">Print Form</span>
                            </button>

                            <ng-container *hasPermission="['AC3']; belongsTo 'N26'">
                                <button mat-menu-item (click)="delete(item, $event)">
                                    <i class="trash alternate outline icon danger-color"></i>
                                    <span class="font-weight-600">Delete Form</span>
                                </button>
                            </ng-container>
                        </ng-container>

                    </mat-menu>

                </td>
            </tr>

            </tbody>

        </nz-table>

        <ng-template #indicatorTemplate>
            <div class="is-loading">
                <span class="btn-spinner card-loader"></span>
            </div>
        </ng-template>

        <ng-template #emptyBlock>

            <nz-empty class="pt-24 pb-24 m-0" [nzNotFoundImage]="'assets/icons/flat/ui_set/custom_icons/empty.svg'"
                      [nzNotFoundContent]="contentTpl" [@fadeInOnEnter] [@fadeOutOnLeave]>

                <ng-template #contentTpl>
                    <h4 class="mt-24">No Data Found</h4>
                    <span>Looks like there's no information to display here</span>
                </ng-template>

            </nz-empty>

        </ng-template>

    </ng-container>

</div>