<h2 mat-dialog-title>Declarations</h2>
<mat-dialog-content class="mat-typography">
    <p>
        I have read and understood the services policies and procedures and agree to follow these as a condition of enrolment (available at the service or via your parent handbook).
    </p>

    <p>
        Do you agree to collect or make arrangement for the collection of your child if they become unwell at the
        service?*
    </p>

    <p>
        Do you agree to keep your child away from the service if they display any symptom that could be considered contagious?
    </p>

    <p>
        I give permission for my child to participate in regular evacuation drills or an actual evacuation when necessary. I understand that my child will be relocated from the service under the supervision of their educators and service team member to a safety zone for evacuation purposes.
    </p>
    <p>
        I am aware that fees are charged weekly and non-payment could result in cancellation of my child's enrolment and recovery action may be undertaken at my expense.
    </p>
    <p>
        I declare that I am the applicant named in the form and that all information and documents provided as part of my application are true and correct.
    </p>
    <p>
        I understand that Kinder m8 has provided a general enrolment form. Any difference or ambiguity between Kinder m8’s enrolment form and the service's terms and conditions will be governed by the service's terms and conditions.
    </p>
    <p>
        I understand that Kinder m8 has provided a general enrolment form. Any difference or ambiguity between Kinder
        m8’s enrolment form and the service's terms and conditions will be governed by the service's terms and
        conditions.*
    </p>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button nz-button nzType="primary" mat-dialog-close>Close</button>
</mat-dialog-actions>