<div class="dialog-content-wrapper">

    <mat-toolbar class="mat-accent m-0">

        <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">

            <span class="title dialog-title">Kinder m8: Terms of Use</span>

            <button mat-icon-button disableRipple="true" type="button" (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>

        </mat-toolbar-row>

    </mat-toolbar>


    <div mat-dialog-content class="p-24 pt-16 m-0" fusePerfectScrollbar [fusePerfectScrollbarOptions]="{ suppressScrollX: true }">

        <p>Your access to and use of this site is subject to your acceptance of and compliance with the following Terms and Conditions. These Terms apply to all visitors, users and others who access or use this site.</p> 
        
        <p>There is a range of information on various products and services on Kinder m8’s website. While the purpose of this information is to inform, it is not intended as a solution to any precise problem or as the resolution of any specific situation. Kinder m8 does not guarantee the accuracy, reliability, currency or completeness of any material contained on this website or on any linked site. Kinder m8 also recommends that all users make their own independent inquiries to satisfy themselves about the accuracy, currency and relevance of the information to their own individual circumstances with respect to their use of the information provided in this site.</p> 
        
        <p class="m-0">Our website may contain links to third party websites or services that are not owned or controlled by Kinder m8. Kinder m8 holds no knowledge, no responsibility for and no control over the contents, privacy policies or practices of any third party websites or services. The intent of these links is to facilitate ease of use. Kinder m8 shall not be responsible or liable, directly or indirectly for damages or loss caused by or as a result of reliance on any content, goods or services available through these links. Kinder m8 advises users to read the Terms and Conditions and Privacy Policies of these third party websites and does not endorse or accept liability for the content or use of the information provided on these sites.</p>

    </div>

    <div mat-dialog-actions class="m-0 py-16 px-24 fm-border-top" fxLayout="row" fxLayoutAlign="space-between center">

        <span></span>

        <span class="text-right">

            <button class="text-uppercase mat-close-btn" 
                type="button"
                nz-button 
                nzType="danger"
                (click)="matDialogRef.close()">
                Close
            </button>

        </span>

    </div>

</div>
