<!-- SIDEBAR HEADER -->
<div class="header p-24 pt-32" style="padding-top: 32px !important;">
    <span class="title">Filters</span>
</div>
<!-- / SIDEBAR HEADER -->

<!-- SIDEBAR CONTENT -->
<div class="content p-24 pt-0">

    <form fxLayout="column" fxFlex [formGroup]="financialStatementsFilterForm">

        <div class="mb-16">

            <label class="filter-label">Parent</label>

            <nz-select [nzShowSearch]="true" formControlName="parent" nzMode="default" [nzAllowClear]="true" nzPlaceHolder="Select Parent">

                <nz-option *ngFor="let parent of parents" nzValue="{{ parent.id }}" nzLabel="{{ parent.getFullName() }}">
                </nz-option>

            </nz-select>

        </div>

        <div class="mb-16">
        
            <label class="filter-label">Parent Status</label>
        
            <nz-radio-group formControlName="parent_status">
        
                <label nz-radio nzValue="all" class="_filter">All</label>
                <label nz-radio nzValue="0" class="_filter">Active</label>
                <label nz-radio nzValue="1" class="_filter">Inactive</label>
        
            </nz-radio-group>
        
        </div>
        
        <div class="mb-16">

            <label class="filter-label">Start Date</label>

            <nz-date-picker class="block" nzPlaceHolder="Select Date" nzSize="small" nzAllowClear="false" formControlName="start_date"
                [nzDisabled]="financialStatementsFilterForm.controls['start_date'].disabled" [nzInputReadOnly]="true"></nz-date-picker>

        </div>

        <div class="mb-16">
        
            <label class="filter-label">End Date</label>
        
            <nz-date-picker class="block" nzPlaceHolder="Select Date" nzSize="small" nzAllowClear="false" formControlName="end_date"
                [nzDisabled]="financialStatementsFilterForm.controls['end_date'].disabled" [nzInputReadOnly]="true"></nz-date-picker>
        
        </div>

        <div class="mb-16">
        
            <label class="filter-label">Invoice Date</label>
        
            <nz-date-picker class="block" nzPlaceHolder="Select Date" nzSize="small" nzAllowClear="false"
                formControlName="invoice_date" [nzDisabled]="financialStatementsFilterForm.controls['invoice_date'].disabled" [nzInputReadOnly]="true">
            </nz-date-picker>
        
        </div>

        <div class="mb-16">
        
            <label class="filter-label">Invoice Type</label>
        
            <nz-radio-group formControlName="type" [nzDisabled]="financialStatementsFilterForm.controls['type'].disabled">
        
                <label nz-radio nzValue="0" class="_filter">All</label>
                <label nz-radio nzValue="manual" class="_filter">Manual</label>
                <label nz-radio nzValue="auto" class="_filter">Automatic</label>
        
            </nz-radio-group>
        
        </div>


        <button class="mb-12" nz-button nzType="default" *ngIf="showFilterButton" [@fadeInOnEnter] [@fadeOutOnLeave]
            (click)="clearFilter($event)">Reset</button>

        <button 
            nz-button 
            nzType="default" 
            (click)="filter($event)"
            [disabled]="loading"
        > <i class="filter icon mr-8"></i> Filter</button>

    </form>


</div>
<!-- / SIDEBAR CONTENT -->