<div class="dialog-content-wrapper">

    <mat-toolbar class="mat-accent m-0">

        <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">

            <span class="title dialog-title">Generate Statement of Entitlement</span>

            <button mat-icon-button disableRipple="true" type="button" (click)="matDialogRef.close()"
                aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>

        </mat-toolbar-row>

    </mat-toolbar>

    <form nz-form name="entitlementStatementForm" fxLayout="column" [formGroup]="entitlementStatementForm" [nzLayout]="'vertical'"
        (ngSubmit)="onSubmit()" novalidate>

        <div mat-dialog-content class="p-24 pt-16 m-0" fusePerfectScrollbar
            [fusePerfectScrollbarOptions]="{ suppressScrollX: true }">

            <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32, xl: 32, xxl: 32 }">

                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" *ngIf="!singleParentMode">

                    <nz-form-item>
                        
                        <nz-form-label nzRequired>Select Account</nz-form-label>
    
                        <nz-form-control nzHasFeedback [nzErrorTip]="accountErrorTpl">
    
    
                            <nz-select formControlName="user" nzShowSearch nzPlaceHolder="Select Account" [nzAllowClear]="true">
    
                                <nz-option *ngFor="let parent of parentList" nzValue="{{ parent.id }}"
                                    nzLabel="{{ parent.getFullName() }}">
                                </nz-option>
    
                            </nz-select>
    
                            <ng-template #accountErrorTpl let-control>
                                <ng-container *ngIf="control.hasError('required')">Please select account</ng-container>
                            </ng-template>
    
                        </nz-form-control>
    
                    </nz-form-item>

                </div>

                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24">

                    <nz-form-item>
    
                        <nz-form-label nzRequired>Child</nz-form-label>
    
                        <nz-form-control nzHasFeedback [nzErrorTip]="childErrorTpl">
    
                            <nz-select formControlName="child" nzPlaceHolder="Type">
    
                                <nz-option *ngFor="let child of children" nzValue="{{ child.id }}" nzLabel="{{ child.getFullName() }}"></nz-option>
    
                            </nz-select>
    
                            <ng-template #childErrorTpl let-control>
                                <ng-container *ngIf="control.hasError('required')">Please select child
                                </ng-container>
                            </ng-template>
    
                        </nz-form-control>
    
                    </nz-form-item>

                </div>

                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12">

                    <nz-form-item>
    
                        <nz-form-label nzRequired>Start Date</nz-form-label>
    
                        <nz-form-control nzHasFeedback [nzErrorTip]="startDateErrorTpl">
    
                            <nz-date-picker [nzInputReadOnly]="true" formControlName="start_date" nzPlaceHolder="Start Date" class="block"></nz-date-picker>
    
                            <ng-template #startDateErrorTpl let-control>
                                <ng-container *ngIf="control.hasError('required')">Please input start date</ng-container>
                            </ng-template>
    
                        </nz-form-control>
    
                    </nz-form-item>

                </div>

                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12">

                    <nz-form-item>
    
                        <nz-form-label nzRequired>End Date</nz-form-label>
    
                        <nz-form-control nzHasFeedback [nzErrorTip]="endDateErrorTpl">
    
                            <nz-date-picker [nzInputReadOnly]="true" formControlName="end_date" nzPlaceHolder="End Date" class="block"></nz-date-picker>
    
                            <ng-template #endDateErrorTpl let-control>
                                <ng-container *ngIf="control.hasError('required')">Please input end date</ng-container>
                            </ng-template>
    
                        </nz-form-control>
    
                    </nz-form-item>
                    
                </div>

            </div>

        </div>

        <div mat-dialog-actions class="m-0 py-16 px-24 fm-border-top" fxLayout="row" fxLayoutAlign="space-between center">

            <span></span>

            <span class="text-right">

                <button class="text-uppercase mr-8" type="submit" nz-button
                    nzType="primary" [disabled]="!entitlementStatementForm.valid" [promiseBtn]="buttonLoading">
                    <i class="plus icon mr-8"></i> Save
                </button>

                <button class="text-uppercase mat-close-btn" type="button" nz-button nzType="danger"
                    (click)="matDialogRef.close()">
                    Cancel
                </button>

            </span>

        </div>

    </form>

</div>