
.mat-menu-panel {
    min-height: 50px;
}

#service-view {

    
    
    .th {
        text-align: center;
        width: 100%;
        padding: 100%;
    }
    
    .td {
        text-align: center;
        width: 100%;
        padding: 100%;
    }

    .basic-info {
        background-color: #ececec;
        padding: 28px;
    }

    nz-divider {
        margin: 24px 0px;
    }

}
