<div class="dialog-content-wrapper">

    <mat-toolbar class="mat-accent m-0">

        <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">

            <span class="title dialog-title">{{ dialogTitle }}</span>

            <button mat-icon-button disableRipple="true" type="button" (click)="matDialogRef.close()"
                    aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>

        </mat-toolbar-row>

    </mat-toolbar>

    <form nz-form name="enrollmentForm" [formGroup]="enrollmentForm" class="compose-form" fxLayout="column" fxFlex
          [nzLayout]="'vertical'" nz-form (ngSubmit)="onFormSubmit($event)">

        <div mat-dialog-content class="p-24 pt-16 m-0" fusePerfectScrollbar
             [fusePerfectScrollbarOptions]="{ suppressScrollX: true }">

            <div id="idGlobal" nz-row [nzGutter]="24">
                <!--============================================ new sections ====================================================-->
                <!--                <span *ngIf="newSections?.enrolment !=undefined">-->
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24"
                     *ngFor="let section of newSections"
                >
                    <div class="subtitle" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24"
                         [nzXXl]="24">
                        {{section['name']}}
                    </div>
                    <!-----------------   new fields  --------------------------->
                    <div *ngIf="allInputs?.length > 0" nz-col [nzMd]="24" [nzLg]="24">
                        <new-input [formGroup]="enrollmentForm"
                                   [newInputs]="allInputs"
                                   [form]="form"
                                   [uploadedFiles]="uploadedFiles"
                                   [uploadSwitchInputs]="uploadSwitchInputs"
                                   [section]="section"
                                   [signaturesList]="signaturesList"
                                   (uploadsValidate)="checkedUploadsValidate($event)"
                                   (newUploads)="newUploads($event)"
                                   (checkBoxes)="checkedFieldsGet($event)"
                                   (signatureFill)="checkedSignatures($event)"
                        >
                        </new-input>
                    </div>
                    <!-----------------   / new fields --------------------------->
                </div>
                <!--============================================ / new sections ====================================================-->

            </div>

        </div>


        <div mat-dialog-actions class="m-0 py-16 px-24 fm-border-top" fxLayout="row"
             fxLayoutAlign="space-between center">

            <span></span>

            <span class="text-right">
<!-- (click)="onFormSubmit($event)" -->
                <ng-container>
                    <button class="text-uppercase mr-8" type="submit" *hasPermission="['AC2']; belongsTo 'N26'"
                            nz-button
                            nzType="primary" [promiseBtn]="buttonLoader"
                            [disabled]="!enrollmentForm.valid  || !validForAttendance || !manualUploadedFiles || !validateUploads"
                    >
                        <i class="plus icon mr-8"></i>
                        {{buttonTitle}}
                    </button>
                </ng-container>

                <button class="text-uppercase mr-8" type="button" nz-button nzType="default"
                        (click)="resetForm($event)">
                    Reset
                </button>

                <button class="text-uppercase mat-close-btn" type="button" nz-button nzType="danger"
                        (click)="matDialogRef.close()">
                    Close
                </button>

            </span>

        </div>

    </form>

</div>