/*
@import "src/@fuse/scss/fuse";

ccs-session-submissions {
    .content {
        flex: 1;

        mat-tab-group {
            height: 100%;

            .mat-tab-body-wrapper {
                flex-grow: 1;
            }
        }
    }
}*/


center-settings {

  .mat-tab-link {
    text-decoration: none !important;

  }

  mat-ink-bar {

    &.mat-ink-bar {

      background-color: #1f8de9 !important;
    }
  }
}