@import "src/@fuse/scss/fuse";

app-service-setup-edit-address {
    flex-direction: column;
    @include media-breakpoint("xs") {
        width: 100%;
    }

    @include media-breakpoint("gt-xs") {
        width: 640px;
    }

    form {
        width: 100%;
        text-align: left;
    }
}
.service-setup-edit-address-dialogs {
    @include media-breakpoint("xs") {
        width: 100%;
    }

    @include media-breakpoint("gt-xs") {
        width: 640px;
    }

    form {
        width: 100%;
        text-align: left;
    }
}
