<div class="dialog-content-wrapper" fxLayout="column">
    <mat-toolbar class="mat-accent m-0">
        <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">Edit Service Address</span>

            <button mat-icon-button disableRipple="true" type="button" (click)="matDialogRef.close()"
                aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
</div>

<form name="servicesetupForm" class="compose-form" fxLayout="column" fxFlex [formGroup]="servicesetupForm" nz-form
    (ngSubmit)="onFormSubmit($event)">
    <div mat-dialog-content class="p-24 pt-16 m-0" fusePerfectScrollbar
        [fusePerfectScrollbarOptions]="{ suppressScrollX: true }">
        <nz-form-item>
            <nz-form-label nzRequired>Address Type</nz-form-label>

            <nz-form-control nzHasFeedback [nzErrorTip]="addrtyErrorTpl" class="ant-form-flex">
                <input nz-input formControlName="addresstype" placeholder="addresstype" type="text" />

                <ng-template #addrtyErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('required')">Please input your addresstype</ng-container>
                    <ng-container *ngIf="control.hasError('pattern')">Invalid input addresstype</ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label nzRequired>Street Line 1</nz-form-label>

            <nz-form-control nzHasFeedback [nzErrorTip]="strliErrorTpl" class="ant-form-flex">
                <input nz-input formControlName="streetLine1" placeholder="streetLine1" type="text" />

                <ng-template #strliErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('required')">Please input your streetLine1</ng-container>
                    <ng-container *ngIf="control.hasError('pattern')">Invalid input streetLine1</ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label nzRequired>Street Line 2</nz-form-label>

            <nz-form-control nzHasFeedback [nzErrorTip]="streliErrorTpl" class="ant-form-flex">
                <input nz-input formControlName="streetLine2" placeholder="streetLine2" type="text" />

                <ng-template #streliErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('required')">Please input your streetLine2</ng-container>
                    <ng-container *ngIf="control.hasError('pattern')">Invalid input streetLine2</ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label nzRequired>Suburb</nz-form-label>

            <nz-form-control nzHasFeedback [nzErrorTip]="subErrorTpl" class="ant-form-flex">
                <input nz-input formControlName="suburb" placeholder="suburb" type="text" />

                <ng-template #subErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('required')">Please input your suburb</ng-container>
                    <ng-container *ngIf="control.hasError('pattern')">Invalid input suburb</ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label nzRequired>State</nz-form-label>

            <nz-form-control nzHasFeedback [nzErrorTip]="stateErrorTpl" class="ant-form-flex">
                <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a state" formControlName="state">
                    <nz-option *ngFor="let item of states" [nzLabel]="item.name" [nzValue]="item.code"></nz-option>
                </nz-select>

                <ng-template #stateErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('required')">Please input your state</ng-container>
                    <ng-container *ngIf="control.hasError('pattern')">Invalid input state</ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label nzRequired>Post Code</nz-form-label>

            <nz-form-control nzHasFeedback [nzErrorTip]="postErrorTpl" class="ant-form-flex">
                <input nz-input formControlName="postalcode" placeholder="postalcode" type="text" />

                <ng-template #postErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('required')">Please input your postalcode</ng-container>
                    <ng-container *ngIf="control.hasError('pattern')">Invalid input postalcode</ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>
        
        <nz-form-item nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="12" [nzXl]="12" [nzXXl]="12">

            <nz-form-label nzRequired>Effective Date</nz-form-label>

            <nz-form-control nzHasFeedback [nzErrorTip]="dateErrorTpl">

                <nz-date-picker [nzInputReadOnly]="true" formControlName="sdate"
                    nzPlaceHolder="effective date" class="block"></nz-date-picker>
                <ng-template #dateErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('required')">Please select the date
                    </ng-container>
                </ng-template>

            </nz-form-control>

        </nz-form-item>
    </div>

    <div mat-dialog-actions class="m-0 py-16 px-24 fm-border-top" fxLayout="row" fxLayoutAlign="space-between center">
        <span class="text-right">
            <ng-container *ngIf="!editMode">
                <button class="text-uppercase mr-8" *hasPermission="['AC2']; belongsTo: 'N20'" nz-button
                    nzType="primary" [disabled]="!servicesetupForm.valid" [promiseBtn]="buttonLoading">
                    <i class="plus icon mr-8"></i> Save
                </button>
            </ng-container>

            <button class="text-uppercase mat-close-btn" type="button" nz-button nzType="danger"
                (click)="matDialogRef.close()">
                Close
            </button>
        </span>
    </div>
</form>