@import "src/@fuse/scss/fuse";
@import "src/@fuse/scss/variables";

.provider-new-personal {
    @include media-breakpoint("xs") {
        width: 100%;
    }

    @include media-breakpoint("gt-xs") {
        width: 640px;
    }
    .dialog-content-wrapper {
        display: flex;
        flex-direction: column;

        .selection-btn {
            nz-form-item {
                float: right;
            }
        }

        .compose-form {
            .help-text {
                img {
                    margin-left: 12px;
                    width: 20px;
                    height: 20px;
                }
            }
        }

        nz-table {
            .btn-add-role {
                float: right !important;
                cursor: pointer;
            }
        }

        .image-upload {
            border-radius: 5px;
            padding: 5px;
            border: 2px solid #2b1a164a;
        }

        .f-left{
            float: left
        }
    }
}
