

accs-list-view {

  .ant-table-container { 
    border: 1px solid #f0f0f0 !important;
  }

  .syncerror{
    background-color: #ff00001f;
  }
  
  .nolongeratrisk{
    background-color: #17cc3f3b;
  }
}