<div 
    id="finance-account-transactions" 
    class="page-layout simple left-sidebar inner-sidebar inner-scroll" 
    *canViewAuth
    [@fadeInOnEnter] 
    [@fadeOutOnLeave]>

    <!-- HEADER -->
    <div class="header p-24" fxLayout="row" fxLayoutAlign="space-between center">
    
        <h1 [@animate]="{ value:'*', params:{ delay: '100ms', x:'-15px' } }">Account Transactions</h1>
    
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <!-- SIDEBAR -->
        <fuse-sidebar class="sidebar" name="finance-account-transactions-sidebar" position="left">

            <app-finance-account-transactions-left-sidenav 
                [@animate]="{ value:'*', params:{ delay: '200ms', x:'-15px' } }" 
                fusePerfectScrollbar
                [fusePerfectScrollbarOptions]="{ suppressScrollX: true }" 
                (updateTableScroll)="updateScroll($event)">
            </app-finance-account-transactions-left-sidenav>

        </fuse-sidebar>
        <!-- / SIDEBAR -->

        <!-- CENTER -->
        <app-finance-account-transactions-list-view 
            class="center p-24 pt-0" 
            fusePerfectScrollbar
            [fusePerfectScrollbarOptions]="{ suppressScrollX: true }" 
            (updateTableScroll)="updateScroll($event)"
            [@animate]="{ value:'*', params:{ delay: '200ms', x:'15px' } }">
        </app-finance-account-transactions-list-view>
        <!-- / CENTER -->

    </div>
    <!-- / CONTENT -->

</div>