@import "src/@fuse/scss/fuse";
@import "src/@fuse/scss/variables";


app-import-parents {

    @include media-breakpoint('xs') {
        // width: 100%;
    }

    @include media-breakpoint('gt-xs') {
        // width: 640px;
    }


    .status-check {
        font-size: 21px;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 24px;
    }

    .status {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 4px 12px;   
        border-radius: 16px;
        background: #fff;
        box-shadow: $custom-box-shadow;
        font-weight: 600;
        font-size: 13px;

        &.success {
            background: #4CAF50;
            background-image: -webkit-linear-gradient(242deg, #8BC34A 1%, #4CAF50 65%);
            background-image: linear-gradient(-152deg, #8BC34A 1%, #4CAF50 65%);
            color: #fff !important;
        }

        &.warning {
            background: #FF9500;
            background-image: -webkit-linear-gradient(242deg, #FFCC00 1%, #FF9500 65%);
            background-image: linear-gradient(-152deg, #FFCC00 1%, #FF9500 65%);
            color: #fff !important;
        }

        &.error {
            background: #e74c3c;
            background-image: -webkit-linear-gradient(242deg, #FF5E3A 1%, #e74c3c 65%);
            background-image: linear-gradient(-152deg, #FF5E3A 1%, #e74c3c 65%);
            color: #fff !important;
        }
    }

    .margin-26{
        margin-right: 26px!important;
    }
}
