<div id="account-manager" class="page-layout carded fullwidth" *canViewAuth [@fadeInOnEnter]>
    <div class="header p-24" fxLayout="row" fxLayoutAlign="start center">
        <h1 [@animate]="{
                    value: '*',
                    params: { delay: '200ms', x: '-25px' }
                }">
            Account Management
        </h1>
    </div>



    <div class="content-card" [@animate]="{ value: '*', params: { delay: '200ms', y: '15px' } }">

        <nav mat-tab-nav-bar>
            <a mat-tab-link *ngFor="let link of navLinks" [routerLink]="link.path" routerLinkActive
                #rla="routerLinkActive" [active]="rla.isActive">
                {{link.label}}

            </a>
        </nav>

        <div class="content" fusePerfectScrollbar
        [fusePerfectScrollbarOptions]="{ suppressScrollX: true }">

            <router-outlet></router-outlet>

        </div>
    </div>
</div>