<!-- SIDEBAR HEADER -->
<div class="header p-24 pt-32">
    <span class="title">Filters</span>
</div>
<!-- / SIDEBAR HEADER -->

<!-- SIDEBAR CONTENT -->
<div class="content p-24 pt-0" 
    fusePerfectScrollbar 
    [fusePerfectScrollbarOptions]="{ suppressScrollX: true }">

    <form fxLayout="column" fxFlex [formGroup]="invitationFiltersForm">

        <div class="mb-16" *ngIf="branches.length > 0">

            <ng-container *hasPermission="['AC0']; belongsTo 'N03'" >

                <label class="filter-label">Branch</label>
    
                <nz-select  
                    formControlName="branch"
                    nzShowSearch
                    nzAllowClear
                    nzPlaceHolder="select a branch">
    
                    <nz-option nzValue="none" nzLabel="None"></nz-option>
        
                    <nz-option *ngFor="let item of branches" nzValue="{{ item.id }}" nzLabel="{{ item.name }}"></nz-option>
                    
                </nz-select>

            </ng-container>

        </div>

        <div class="mb-16">

            <label class="filter-label">Link Validity</label>

            <nz-radio-group formControlName="status" [nzDisabled]="invitationFiltersForm.controls['status'].disabled">
        
                <label nz-radio nzValue="0" class="_filter">All</label>
                <label nz-radio nzValue="1" class="_filter">Expired</label>
                <label nz-radio nzValue="2" class="_filter">Valid</label>
        
            </nz-radio-group>

        </div>

        <button nz-button nzType="default" 
            *ngIf="showFilterButton" [@fadeInOnEnter] [@fadeOutOnLeave]
            (click)="clearFilter($event)">Reset</button>

    </form>

</div>
<!-- / SIDEBAR CONTENT -->