p {
    text-align: justify;
    text-justify: inter-word;
}

.checkboxLabel {
    padding-left: 5px;
    text-align: justify;
    text-justify: inter-word;
}

.fileUploadValidate {
    padding-top: 4px;
    color: red;
}

.signatureClass {
    background-color: #F3F3F3;
    border: 1px solid #000;
}



