
attendance-report-filter{

    .select-actions {
        button {
            // font-size: 12px !important;
            // height: 20px!important;
    
            &:disabled {
                background: none !important;
                border: none !important;
            }
        }
    }

    nz-option{
        i{
            .float-right{
                float: right!important;
            }
        }
    }
    
}
