<form name="form" 
    fxLayout="column" fxFlex 
    nz-form [nzLayout]="'vertical'" 
    [formGroup]="form">

    <nz-form-item>

        <nz-form-label nzRequired>Organisation</nz-form-label>

        <nz-form-control nzHasFeedback [nzErrorTip]="orgErrorTpl">

            <nz-select  
                formControlName="org"
                nzPlaceHolder="select organization">

                <nz-option 
                    *ngFor="let org of organizations; trackBy: trackByFn;" 
                    nzValue="{{ org.id }}" 
                    nzLabel="{{ org.companyName }}"></nz-option>
                
            </nz-select>

            <ng-template #orgErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">Please select a organisation</ng-container>
            </ng-template>

        </nz-form-control>

    </nz-form-item>

    <nz-form-item>
        
        <nz-form-label nzRequired>Branch</nz-form-label>

        <nz-form-control nzHasFeedback [nzErrorTip]="branchErrorTpl">

            <nz-select  
                formControlName="branch"
                nzPlaceHolder="select branch"
                [nzDisabled]="!form.get('org').value || branches.length < 1">

                <nz-option 
                    *ngFor="let item of branches; trackBy: trackByFn;" 
                    nzValue="{{ item.id }}" 
                    nzLabel="{{ item.name }}"></nz-option>
                
            </nz-select>

            <ng-template #branchErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">Please select a branch</ng-container>
            </ng-template>

        </nz-form-control>

    </nz-form-item>

    <nz-form-item>
        
        <nz-form-label>Attendance Type</nz-form-label>

        <nz-form-control nzHasFeedback [nzErrorTip]="branchErrorTpl">

            <nz-select  
                formControlName="attendanceType"
                nzPlaceHolder="select branch"
                [nzDisabled]="">

                <nz-option 
                    *ngFor="let item of attendanceType; trackBy: trackByFn;" 
                    nzValue="{{ item.id }}" 
                    nzLabel="{{ item.name }}"></nz-option>
                
            </nz-select>

            <ng-template #branchErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">Please select a branch</ng-container>
            </ng-template>

        </nz-form-control>

    </nz-form-item>

    <!-- <nz-form-item>

        <nz-form-label nzRequired>Source</nz-form-label>

        <nz-form-control nzHasFeedback [nzErrorTip]="sourceErrorTpl">

            <input formControlName="file" type="file" accept=".csv"
                nz-input placeholder="select file" 
                (change)="fileInputListener($event)">

            <ng-template #sourceErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">Please select a file</ng-container>
            </ng-template>
        
        </nz-form-control>

    </nz-form-item> -->

    <nz-form-item>
                    
        <nz-form-label>Parent 2 ony</nz-form-label>
    
        <nz-form-control>
    
            <nz-switch formControlName="type" nzCheckedChildren="Yes" nzUnCheckedChildren="No"></nz-switch>
    
        </nz-form-control>
    
    </nz-form-item>

    <nz-form-item>
                    
        <nz-form-label>Child Attendance Only</nz-form-label>
    
        <nz-form-control>
    
            <nz-switch formControlName="attendance" nzCheckedChildren="Yes" nzUnCheckedChildren="No"></nz-switch>
    
        </nz-form-control>
    
    </nz-form-item> 
    <nz-form-item>
                    
        <nz-form-label>Child Emergency Contact KP Only</nz-form-label>
    
        <nz-form-control>
    
            <nz-switch formControlName="kponly" nzCheckedChildren="Yes" nzUnCheckedChildren="No"></nz-switch>
    
        </nz-form-control>
    
    </nz-form-item>
    
    <nz-form-item>
                    
        <nz-form-label>Child Emergency Contact KP & KC</nz-form-label>
    
        <nz-form-control>
    
            <nz-switch formControlName="kpKconnect" nzCheckedChildren="Yes" nzUnCheckedChildren="No"></nz-switch>
    
        </nz-form-control>
    
    </nz-form-item>
</form>