@import "src/@fuse/scss/fuse";

.mat-menu-panel {
    min-height: 50px !important;
}

app-finance-payment-plans {

    .toolbar {
        .go-back-link {
            flex: none;
        }
    }

    .ant-table-content { 
        min-height: 0 !important;
        overflow-x: auto !important;
    }

}