<!-- SIDEBAR HEADER -->
<div class="header p-24 pt-32" style="padding-top: 32px !important;">
    <span class="title">Filters</span>
</div>
<!-- / SIDEBAR HEADER -->

<!-- SIDEBAR CONTENT -->
<div class="content p-24 pt-0">

    <form fxLayout="column" fxFlex [formGroup]="isCaseFilterForm">

        <div class="mb-16" *ngIf="isSiteManager">

            <label class="filter-label">Service</label>

            <nz-select  formControlName="service" nzMode="default" nzPlaceHolder="Service">

                <nz-option *ngFor="let item of serviceList" nzValue="{{ item.service_id }}" nzLabel="{{ item.service_name }}">
                </nz-option>

            </nz-select>

        </div>

        <div class="mb-16">

            <label class="filter-label">Case ID</label>

            <input nz-input formControlName="case_id" placeholder="Case ID" type="text" />

        </div>

        <div class="mb-16">

            <label class="filter-label">Start Date From</label>

            <nz-date-picker [nzInputReadOnly]="true" [nzAllowClear]="true" class="block" nzPlaceHolder="Start Date From" nzSize="small" nzAllowClear="false" formControlName="start_date_from"></nz-date-picker>

        </div>

        <div class="mb-16">

            <label class="filter-label">Start Date To</label>

            <nz-date-picker [nzInputReadOnly]="true" [nzAllowClear]="true" class="block" nzPlaceHolder="Start Date To" nzSize="small" nzAllowClear="false" formControlName="start_date_to"
                [nzDisabled]="!isCaseFilterForm.controls['start_date_from'].value"></nz-date-picker>

        </div>

        <div class="mb-16">

            <label class="filter-label">End Date From</label>

            <nz-date-picker [nzInputReadOnly]="true" [nzAllowClear]="true" class="block" nzPlaceHolder="End Date From" nzSize="small" nzAllowClear="false" formControlName="end_date_from"
            [nzDisabled]="!isCaseFilterForm.controls['start_date_to'].value"></nz-date-picker>

        </div>

        <div class="mb-16">

            <label class="filter-label">End Date To</label>

            <nz-date-picker [nzInputReadOnly]="true" [nzAllowClear]="true" class="block" nzPlaceHolder="End Date To" nzSize="small" nzAllowClear="false" formControlName="end_date_to"
            [nzDisabled]="!isCaseFilterForm.controls['end_date_from'].value"></nz-date-picker>

        </div>

        <!-- <button class="mb-16" nz-button nzType="default" *ngIf="showFilterButton" [@fadeInOnEnter] [@fadeOutOnLeave]
            (click)="clearFilter($event)">Reset</button> -->

        <!-- <button class="mb-16" nz-button nzType="default" [disabled]="tableLoader || !isCaseFilterForm.valid " (click)="queryData($event)"
            [@fadeInOnEnter] [@fadeOutOnLeave]>
            <i class="sync left icon pr-8"></i>
            Sync
        </button> -->
        <button nz-button nzType="default" 
        [disabled]="buttonLoader"
        (click)="queryData($event)"><i class="sync left icon pr-8"></i>Query Cases</button>


    </form>


</div>
<!-- / SIDEBAR CONTENT -->