@import "src/@fuse/scss/fuse";
@import "src/@fuse/scss/variables";

.app-new-or-edit-determination {

    @include media-breakpoint('xs') {
         width: 100%;
    }

    @include media-breakpoint('gt-xs') {
        width: 960px;
    }

    .mat-dialog-container {

        padding: 0px;
    }

    .dialog-content-wrapper {
        display: flex;
        flex-direction: column;
    }

}