@import "src/@fuse/scss/fuse";

.enrolment-new-dialog {

    @include media-breakpoint('xs') {
        width: 100%;
    }

    @include media-breakpoint('gt-xs') {
        width: 640px;
    }

    .ck-editor-container {

        .ant-form-item-control-input-content {
            flex: unset;
        }
        
    }


    .mat-dialog-container {
        padding: 0;

    }

    .dialog-content-wrapper {
        display: flex;
        flex-direction: column;
    }

}