<div 
    id="payment-terms" 
    class="page-layout simple left-sidebar inner-sidebar inner-scroll" 
    *canViewAuth
    [@fadeInOnEnter] 
    [@fadeOutOnLeave]>

    <!-- HEADER -->
    <div class="header p-24" fxLayout="row" fxLayoutAlign="space-between center">
    
        <h1 [@animate]="{ value:'*', params:{ delay: '100ms', x:'-15px' } }">Payment Terms</h1>

        <span class="text-right" fxLayout="row" *hasPermission="['AC1']; belongsTo 'N61'">

            <button
                class="mr-8"
                nz-button 
                nzType="primary" 
                (click)="openAddPaymentTermsDialog($event)"
                [@animate]="{ value:'*', params:{ delay: '100ms', x:'15px' } }">
                <i nz-icon nzType="plus"></i>
                Add Term
            </button>

        </span>
    
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <!-- SIDEBAR -->
        <fuse-sidebar class="sidebar" name="payment-terms-sidebar" position="left">

            <app-payment-terms-left-sidenav 
                [@animate]="{ value:'*', params:{ delay: '200ms', x:'-15px' } }" 
                fusePerfectScrollbar
                [fusePerfectScrollbarOptions]="{ suppressScrollX: true }" 
                (updateTableScroll)="updateScroll($event)">
            </app-payment-terms-left-sidenav>

        </fuse-sidebar>
        <!-- / SIDEBAR -->

        <!-- CENTER -->
        <app-payment-terms-list-view 
            class="center p-24 pt-0" 
            fusePerfectScrollbar
            [fusePerfectScrollbarOptions]="{ suppressScrollX: true }" 
            (updateTableScroll)="updateScroll($event)"
            [@animate]="{ value:'*', params:{ delay: '200ms', x:'15px' } }">
        </app-payment-terms-list-view>
        <!-- / CENTER -->

    </div>
    <!-- / CONTENT -->

</div>