<div id="ccs" class="page-layout simple left-sidebar inner-sidebar inner-scroll" *canViewAuth [@fadeInOnEnter]>

    <div class="content p-24" [@animate]="{ value:'*', params:{ delay: '100ms', y:'15px' } }">
        <ng-container>
            <nz-table #headerTable [nzScroll]="{ y: '340px' }" [nzData]="resultList" [nzNoResult]="emptyBlock"
                      [nzLoading]="tableLoading" [nzLoadingIndicator]="indicatorTemplate" style="width:100%!important">
                <thead>
                <tr>
                    <th >Enrolment ID</th>
                    <th >Child</th>
                    <th >Reporting Period</th>
                    <th >Status</th>
                    <th >Session of Cares</th>
                    <th > Action</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of headerTable.data">
                    <td> {{item.enrolmentID }}</td>
                    <td> {{ item.childName }}</td>
                    <td> {{ item.sessionReportStartDate}} - {{ item.sessionReportEndDate }}</td>
                    <td>
                        <p *ngFor="let status of item.statuses.results">
                           {{ status.time_stamp.substring(0,10) }} {{ status.time_stamp.substring(11) }} - {{ status.status }}
                        </p>
                    </td>
                    <td>
                        <p *ngFor="let sessionofCare of item.SessionOfCares.results">
                            <b>Date :</b> {{ sessionofCare.date }} / {{ sessionofCare.startTime }} to {{ sessionofCare.endTime }} <b>Fee :</b> {{ sessionofCare.amountCharged }}
                        </p>
                    </td>
                    <td>
                        <button nz-button nzType="link" nzSize="large" [matMenuTriggerFor]="menu">
                            <i class="ellipsis vertical icon"></i>
                        </button>

                        <mat-menu #menu="matMenu" backdropClass="tlp-more">

                            <ng-container>
                                <button mat-menu-item (click)="goToDetail($event, item)">
                                    <i class="eye icon primary-color"></i>
                                    <span class="font-weight-600">Withdraw Session Report</span>
                                </button>
                            </ng-container>

                        </mat-menu>
                    </td>
                    <!--<td *ngIf="item.source === 'FDCEXM'">FDC Exemption</td>
                    <td *ngIf="item.source === 'ACCSCW'">ACCS Child Wellbeing</td>

                    <td *ngIf="item.source === 'PAYMNT'">Payment</td>
                    <td *ngIf="item.source === 'RTNFEE'">Return Fee Reduction</td>
                    <td *ngIf="item.source === 'ENTTLM'">Entitlement</td>

                    <td *ngIf="item.source === 'CAREPV'">Care Provided and Vacancy</td>
                    <td *ngIf="item.source === 'DEBTMG'">Debt Management</td>

                    <td>{{item.sourceId}}</td>
                    <td>{{item.subject}}</td>

                    <td *ngIf="item.type === 'INFO'">Information only</td>
                    <td *ngIf="item.type === 'WARNIG'">Warning only</td>
                    <td *ngIf="item.type === 'ERROR'">An error has occurred</td>
                    <td *ngIf="item.type === 'IMMED'">Immediate action required</td>
                    <td>{{item.desc}}</td>-->
                </tr>
                </tbody>
            </nz-table>

            <ng-template #indicatorTemplate>
                <div class="is-loading">
                    <span class="btn-spinner card-loader"></span>
                </div>
            </ng-template>

            <ng-template #emptyBlock>

                <nz-empty class="pt-24 pb-24 m-0" [nzNotFoundImage]="'assets/icons/flat/ui_set/custom_icons/empty.svg'"
                          [nzNotFoundContent]="contentTpl" [@fadeInOnEnter] [@fadeOutOnLeave]>

                    <ng-template #contentTpl>
                        <h4 class="mt-24">No Data Found</h4>
                        <span>Looks like there's no information to display here</span>
                    </ng-template>

                </nz-empty>

            </ng-template>

        </ng-container>


    </div>
    <div class="pagination-row p-16" fxLayout="row" fxLayoutAlign="space-between center" *ngIf="resultList.length > 0">

        <div>
            <nz-pagination
                    [nzPageIndex]="1"
                    [nzTotal]="10"
                    nzSize="large"
                    nzShowSizeChanger
                    [nzPageSize]="pageSize"
                    [nzPageSizeOptions]="defaultPageSizeOptions"
                    (nzPageSizeChange)="onPageSizeChange($event)"
            ></nz-pagination>
        </div>

        <div class="pagination-wrapper" fxLayout="row" fxLayoutAlign="space-between center">

            <button
                    class="mr-8"
                    nz-button
                    type="button"
                    nzType="primary"
                    nzSize="small"
                    [disabled]="resultList.length === 0 || currentPage <= 1 || tableLoading"
                    (click)="previousPage($event)"
            >Previous</button>

            <div class="page-indicator" [ngClass]="{'page-indicator-disabled': resultList.length === 0 || tableLoading}">
                {{ currentPage }}
            </div>

            <button
                    class="ml-8"
                    nz-button
                    type="button"
                    nzType="primary"
                    nzSize="small"
                    [disabled]="resultList.length === 0 || lastPage === true || tableLoading"
                    (click)="nextPage($event)"
            >Next</button>

        </div>

    </div>
</div>