<div id="enrollment" fxLayout="column">

    <div id="enrollment-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="enrollment-form"
             [@animate]="{ value:'*', params:{ duration:'500ms', y:'100px', opacity: 0, delay:'300ms' }}"
             *ngIf="!isSubmitted">

            <div class="logo">
                <img class="logoImage" src="{{branchLogo?branchLogo:'assets/images/logos/KMLOGO.png'}}"
                     alt="Kinder m8 Logo">
            </div>

            <p *ngIf="orgName"><b>Organisation : {{orgName | titlecase}}</b></p>
            <p *ngIf="branchName"><b>Branch : {{branchName | titlecase}}</b></p>
            <h2><b>Enrolment Form</b></h2>

            <div nz-row nzJustify="center" [nzGutter]="24" *ngIf="siteManagerMode">

                <div nz-col [nzMd]="24" [nzLg]="12">

                    <nz-select class="mb-8" nzMode="default" [nzLoading]="formLoading" [nzDisabled]="formLoading"
                               [formControl]="branchSelect" [nzAllowClear]="false" nzPlaceHolder="Select a branch">

                        <nz-option *ngFor="let branch of branches" [nzValue]="branch.id"
                                   [nzLabel]="branch.name | titlecase"></nz-option>

                    </nz-select>

                </div>

            </div>

            <!--            <div class="subtitle">Child Details</div>-->

            <form nz-form name="enrollmentForm" *ngIf="sections.length > 0" [nzLayout]="'vertical'"
                  [formGroup]="enrollmentForm"
                  (ngSubmit)="onFormSubmit($event)">
                <div nz-row [nzGutter]="24" *ngFor="let section of sections">

                    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24"
                         [nzXXl]="24" *ngIf="!section.section_hide">

                        <div class="subtitle" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24"
                             [nzXXl]="24">{{ section.title }}</div>

                    </div>
                    <enrolment-section
                        nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24"
                        *ngIf="!section.section_hide"
                        [section]="section"
                        [allergiesList]="allergyTypes"
                        [uploadTypes]="uploadTypes"
                        [uploadSwitchInputs]="uploadSwitchInputs"
                        [signaturesList]="signaturesList"
                        [formGroup]="enrollmentForm.get(section.section_code)"
                        (uploadFileChanged)="handleUploadChange($event)"
                        (checkBoxes)="checkedFieldsGet($event)"
                        (attendanceMarked)="checkedAttendanceMarked($event)"
                        (uploadsValidate)="checkedUploadsValidate($event)"
                        (signatureFill)="checkedSignatures($event)"
                    >

                    </enrolment-section>
                </div>

                <div class="tems-box">

                    <nz-form-control [nzSpan]="14" [nzOffset]="6">
                        <!--                                                {{ enrollmentForm.value|json }}-->
                        <label nz-checkbox formControlName="agreement" style="line-height: 24px;">
                            <span>I have read and understood the services policies and procedures and agree to
                                follow <a href="javascript:;" (click)="openTermsDialog()">these as a condition of enrolment</a></span>
                            <!--                            <span>I have read and understood the services policies and procedures and agree to-->
                            <!--                                follow <b>these as a condition of enrolment</b><a href="javascript:;"-->
                            <!--                                                                                  (click)="openTermsDialog()">-->
                            <!--                                    (available at the service or via your parent-->
                            <!--                                    handbook).</a></span>-->
                        </label>

                    </nz-form-control>

                    <div class="mt-20" fxLayout="row wrap" fxLayoutAlign="center center">
                        <ngx-recaptcha2 #captchaElem [siteKey]="recaptchaSiteKey" [useGlobalDomain]="false"
                                        formControlName="recaptcha">
                        </ngx-recaptcha2>
                    </div>
                </div>
                <!-- [disabled]="!enrollmentForm.valid" -->
                <button nz-button nzType="primary" type="submit" [nzBlock]="true"
                        [disabled]="false"
                        [nzLoading]="buttonLoader"
                >
                    Submit To {{branchName}}
                </button>
                <div *ngIf="staggeringInvalids.length>0" style="margin-top: 10px">

                    <nz-alert
                        nzType="error"
                        *ngFor="let error of staggeringInvalids;let i = index"
                        (@flyInOut.done)="doNext()"
                        [@flyInOut]="'in'"
                        nzMessage="{{error.text}}"
                        (click)="trackField(error.id)"
                        style="cursor: pointer"
                        nzShowIcon>
                    </nz-alert>

                </div>
                <!--                                                <button nz-button nzType="primary" type="submit" [nzBlock]="true" [nzLoading]="buttonLoader">-->
                <!--                                                    Submit To Kinder m8-->
                <!--                                                </button>-->

                <p class="mt-24 copyright">
                    Copyright © {{ currentYear }} <strong>Kinder M8</strong>, All rights reserved.
                </p>

            </form>
        </div>

        <div id="mail-confirm-form"
             [@animate]="{ value:'*', params:{ duration:'500ms', y:'100px', opacity: 0, delay:'300ms' }}"
             *ngIf="isSubmitted">

            <div class="logo">
                <img src="assets/images/logos/KMLOGO.png" alt="Kinder m8 Logo">
            </div>

            <div class="title">Thank You !</div>

            <div class="logo mt-20">
                <img class="mail-confirm" src="assets/icons/flat/svgset_3/100-envelope-1.svg" height="120px"
                     alt="Mail Confirmation">
            </div>

            <div class="subtitle">
                <p>
                    Your information has been submitted successfully.
                    Your child's centre will contact you soon.
                </p>
            </div>

            <p class="mt-24 copyright">
                Copyright © {{ currentYear }} <strong>Kinder M8</strong>, All rights reserved.
            </p>

        </div>

    </div>

</div>