<div class="dialog-content-wrapper">

    <mat-toolbar class="mat-accent m-0">

        <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">

            <span class="title dialog-title">{{ dialogTitle }}</span>

            <button mat-icon-button disableRipple="true" type="button" (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>

        </mat-toolbar-row>

    </mat-toolbar>

    <form name="bookingForm" class="compose-form" fxLayout="column" fxFlex [formGroup]="bookingForm" 
        nz-form 
        [nzLayout]="'vertical'" 
        (ngSubmit)="onFormSubmit($event)">

        <div mat-dialog-content class="p-24 pt-16 m-0" 
            fusePerfectScrollbar [fusePerfectScrollbarOptions]="{ suppressScrollX: true }">
            
            <ng-container *ngIf="editMode && response.hasError(rooms, fees).hasError">

                <ng-container *ngIf="!response.hasRoomSync else syncRoomError">

                    <nz-alert class="mb-16" nzType="error" [nzMessage]="syncError"
                        *ngFor="let error of response.hasError(rooms, fees).messages; trackBy: trackByFn;">
    
                        <ng-template #syncError>
                            <div fxLayout="row" fxLayoutAlign="start center">
                                <!-- <img src="assets/icons/flat/ui_set/custom_icons/child/enrolment-error.svg" alt="img"> -->
                                <p class="mb-0 font-weight-600">{{ error || 'Unknown error' }}</p>
                            </div>
                        </ng-template>
    
                    </nz-alert>

                </ng-container>

                <ng-template #syncRoomError>

                    <nz-alert class="mb-16" nzType="warning" [nzMessage]="syncError">
    
                        <ng-template #syncError>
                            <div fxLayout="row" fxLayoutAlign="start center">
                                <p class="mb-0 font-weight-600">Room will be auto assigned based on the booking dates</p>
                            </div>
                        </ng-template>
    
                    </nz-alert>

                </ng-template>

            </ng-container>
            
            <div nz-row [nzGutter]="24">

                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
            
                    <nz-form-item>

                        <nz-form-label nzRequired>Date</nz-form-label>

                        <nz-form-control nzHasFeedback [nzErrorTip]="dateErrorTpl">

                            <nz-date-picker class="block" formControlName="date" [nzInputReadOnly]="true"></nz-date-picker>

                        </nz-form-control>

                        <ng-template #dateErrorTpl let-control>
                            <ng-container *ngIf="control.hasError('required')">Please select a date</ng-container>
                        </ng-template>

                    </nz-form-item>

                </div>

                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="12" [nzXl]="12" [nzXXl]="12">

                    <nz-form-item>

                        <nz-form-label nzRequired>Room</nz-form-label>

                        <nz-form-control nzHasFeedback [nzErrorTip]="roomErrorTpl">

                            <nz-select  
                                formControlName="room"
                                nzShowSearch
                                nzAllowClear
                                nzPlaceHolder="select a room"
                                (ngModelChange)="selectFeeOnRoomChange($event)">
        
                                <nz-option *ngFor="let item of rooms; trackBy: trackByFn;" nzValue="{{ item.id }}" nzLabel="{{ item.title }}"></nz-option>
                                
                            </nz-select>
        
                            <ng-template #roomErrorTpl let-control>
                                <ng-container *ngIf="control.hasError('required')">Please select a room</ng-container>
                            </ng-template>

                        </nz-form-control>

                    </nz-form-item>

                </div>

                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="12" [nzXl]="12" [nzXXl]="12" *ngIf="editMode && checkForCurrentFee()">

                    <nz-form-item>

                        <nz-form-label>Current Fee</nz-form-label>

                        <nz-form-control nzHasFeedback>

                            <input nz-input value="{{ response.getBookingFeeAmount() | currency: client.currency : 'symbol':'1.2-2' }}" type="text" readonly disabled/>

                        </nz-form-control>

                    </nz-form-item>

                </div>

                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="12" [nzXl]="12" [nzXXl]="12">

                    <nz-form-item>

                        <nz-form-label [nzRequired]="!(editMode && bookingForm.get('type').value !== '0' && checkForCurrentFee())">

                            <span fxFlex="1 0 auto" fxLayoutAlign="space-between center">
                                {{ editMode && checkForCurrentFee() ? 'New Fee' : 'Fee' }}
                            </span>

                        </nz-form-label>

                        <nz-form-control nzHasFeedback [nzErrorTip]="feesErrorTpl">

                            <nz-select  
                                formControlName="fees"
                                nzShowSearch
                                nzAllowClear
                                nzPlaceHolder="select a fee"
                                [nzDropdownClassName]="'session-select'"
                                [nzCustomTemplate]="custom"
                                [nzDisabled]="filteredFees.length < 1"
                                [nzOptionHeightPx]="filteredFees.length < 4 ? 78 : 32">
        
                                <nz-option 
                                    *ngFor="let item of filteredFees | orderBy: 'name'; trackBy: trackByFn;"
                                    nzValue="{{ item.id }}"
                                    nzLabel="{{ item.name }} ({{ item.getFeeAmount() | currency: client.currency : 'symbol':'1.2-2' }})"
                                    nzCustomContent
                                    [nzDisabled]="item.isArchived()">

                                    <p class="title mb-4">
                                        <span class="type" *ngIf="item.vendor === '0'">CCS</span>
                                        <span>{{ item.name + ' (' + (item.isCasual() ? 'C' : 'R') + ')'}}</span>
                                    </p>

                                    <p class="sub mb-0">
                                        <i class="dollar sign icon ic"></i>
                                        {{ item.getFeeAmount() | currency: client.currency :'symbol':'1.2-2' }}
                                        <ng-container *ngIf="item.getCurrentAdjusted()">({{ item.getCurrentAdjusted().effectiveDate }})</ng-container>
                                    </p>

                                    <p class="sub mb-0" *ngIf="item.frequency === '0'; else hourlyBlock">
                                        <i class="clock outline icon ic"></i>
                                        {{ item.sessionStart | convertTimeString }} to
                                        {{ item.sessionEnd | convertTimeString }}
                                    </p>

                                    <ng-template #hourlyBlock>
                                        <p class="sub mb-0">
                                            <i class="clock outline icon ic"></i>
                                            Hourly Basis
                                        </p>
                                    </ng-template>

                                </nz-option>

                                <ng-template #custom let-selected>
                                    <i class="circle icon session-type-color-code casual mr-8" *ngIf="getFeeInfo(selected.nzValue).type === '1'"></i>
                                    <span>{{ selected.nzLabel }}</span>
                                </ng-template>
                                
                            </nz-select>
        
                            <ng-template #feesErrorTpl let-control>
                                <ng-container *ngIf="control.hasError('required')">Please select a fee</ng-container>
                            </ng-template>

                        </nz-form-control>

                    </nz-form-item>

                </div>

                <!-- <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="12" [nzXl]="12" [nzXXl]="12" *ngIf="false">

                    <nz-form-item>

                        <nz-form-label>Is Casual Booking</nz-form-label>

                        <nz-form-control>
                    
                            <nz-radio-group formControlName="casual" nzButtonStyle="solid" class="has-img">
                    
                                <label nz-radio-button nzValue="0">
                                    <img class="mr-8" src="assets/icons/flat/ui_set/custom_icons/child/tick.svg" alt="yes icon">
                                    <span>Yes</span>
                                </label>
                    
                                <label nz-radio-button nzValue="1">
                                    <img class="mr-8" src="assets/icons/flat/ui_set/custom_icons/child/cross.svg" alt="no icon" 
                                    [ngStyle]="{ 'height' : '24px', 'width' : '24px' }">
                                    <span>No</span>
                                </label>
                    
                            </nz-radio-group>
                    
                        </nz-form-control>

                    </nz-form-item>

                </div> -->

                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="12" [nzXl]="12" [nzXXl]="12" *ngIf="checkFeeHasSessionTime()" [@fadeInOnEnter]>

                    <nz-form-item>

                        <nz-form-label nzRequired>Session Time</nz-form-label>

                        <nz-form-control nzHasFeedback [nzErrorTip]="sessionTimeErrorTpl">

                            <ry-time-picker 
                                #timePicker
                                formControlName="session_time"
                                ryFormat="h:mm A"
                                [ryType]="'range'"
                                [ryMinuteStep]="5"
                                [ryPlaceHolder]="'select session'">
                            </ry-time-picker>

                            <ng-template #sessionTimeErrorTpl let-control>
                                <ng-container *ngIf="control.hasError('required')">Please input session time</ng-container>
                            </ng-template>
                        
                        </nz-form-control>

                    </nz-form-item>

                </div>

                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="12" [nzXl]="12" [nzXXl]="12">

                    <nz-form-item>

                        <nz-form-label nzRequired>Booking Type</nz-form-label>

                        <nz-form-control nzHasFeedback [nzErrorTip]="typeErrorTpl">

                            <nz-select  
                                formControlName="type"
                                nzAllowClear
                                nzPlaceHolder="select a type"
                                [nzCustomTemplate]="customBook">
        
                                <nz-option *ngFor="let item of bookingTypes; trackBy: trackByFn;" nzCustomContent nzValue="{{ item.value }}" nzLabel="{{ item.name }}">
                                    <i class="circle icon color-code mr-8 {{ item.name | lowercase }}"></i>
                                    <span>{{ item.name }}</span>
                                </nz-option>

                                <ng-template #customBook let-selected>
                                    <i class="circle icon color-code mr-8 {{ selected.nzLabel | lowercase }}"></i>
                                    <span>{{ selected.nzLabel }}</span>
                                </ng-template>

                            </nz-select>
        
                            <ng-template #typeErrorTpl let-control>
                                <ng-container *ngIf="control.hasError('required')">Please select a booking type</ng-container>
                            </ng-template>

                        </nz-form-control>

                    </nz-form-item>

                </div>

                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="12" [nzXl]="12" [nzXXl]="12" *ngIf="showAbsReasonInput" [@fadeInOnEnter]>

                    <nz-form-item>

                        <nz-form-label nzRequired>CCS Absence Reason</nz-form-label>

                        <nz-form-control nzHasFeedback [nzErrorTip]="ccsAbsErrorTpl">

                            <nz-select  
                                formControlName="absence"
                                nzAllowClear
                                nzPlaceHolder="select a absence reason">
        
                                <nz-option *ngFor="let item of absReasons | keyvalue; trackBy: trackByFn;" nzValue="{{ item.key }}" nzLabel="{{ item.value }}"></nz-option>
                                
                            </nz-select>
        
                            <ng-template #ccsAbsErrorTpl let-control>
                                <ng-container *ngIf="control.hasError('required')">Please select a absence reason (CCS)</ng-container>
                            </ng-template>

                        </nz-form-control>

                    </nz-form-item>

                </div>

                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="12" [nzXl]="12" [nzXXl]="12" *ngIf="showAbsReasonInput" [@fadeInOnEnter]>

                    <nz-form-item>

                        <nz-form-label>Absence Document Held</nz-form-label>

                        <nz-form-control>

                            <nz-switch formControlName="absent_document_held" nzCheckedChildren="Yes" nzUnCheckedChildren="No"></nz-switch>
                
                        </nz-form-control>

                    </nz-form-item>

                </div>

                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="12" [nzXl]="12" [nzXXl]="12" *ngIf="showAttendanceInput" [@fadeInOnEnter]>

                    <nz-form-item>
    
                        <nz-form-label nzRequired>Start Time</nz-form-label>
    
                        <nz-form-control nzHasFeedback [nzErrorTip]="sessionStartTimeErrorTpl">
    
                            <ry-time-picker 
                                #timePickerStart
                                formControlName="session_start"
                                ryFormat="h:mm A"
                                [ryType]="'single'"
                                [ryMinuteStep]="1"
                                [ryPlaceHolder]="'select ...'"
                                [ryValidateValue]="bookingForm.get('session_end').value"
                                [ryValidateType]="ryValidatorValues.LESS_THAN_VALUE">
                            </ry-time-picker>
    
                            <ng-template #sessionStartTimeErrorTpl let-control>
                                <ng-container *ngIf="control.hasError('required')">Please enter start time</ng-container>
                            </ng-template>

                        </nz-form-control>
    
                    </nz-form-item>

                </div>

                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="12" [nzXl]="12" [nzXXl]="12" *ngIf="showAttendanceInput" [@fadeInOnEnter]>

                    <nz-form-item>
    
                        <nz-form-label>End Time</nz-form-label>
    
                        <nz-form-control>
    
                            <ry-time-picker 
                                #timePickerEnd
                                formControlName="session_end"
                                ryFormat="h:mm A"
                                [ryType]="'single'"
                                [ryMinuteStep]="1"
                                [ryPlaceHolder]="'select ...'"
                                [ryValidateValue]="bookingForm.get('session_start').value"
                                [ryValidateType]="ryValidatorValues.GREATER_THAN_VALUE">
                            </ry-time-picker>
    
                            <!-- <ng-template #sessionEndTimeErrorTpl let-control>
                                <ng-container *ngIf="control.hasError('required')">Please enter end time</ng-container>
                            </ng-template> -->
                        
                        </nz-form-control>
    
                    </nz-form-item>

                </div>

            </div>

            <nz-alert nzType="warning" [nzMessage]="syncError" *ngIf="bookingForm.get('type').value === '3'" [@fadeInOnEnter] 
                [ngClass]="{'mb-16': bookingForm.get('type').value === '3' && editMode && response.fee && response.isAdjustedFeeIsFuture()}">
    
                <ng-template #syncError>
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <p class="mb-0 font-weight-600">Holidays are not submitted in session reports, Holiday bookings allow you to mark known holidays in advance and keep track of vacancies and to accept other children in lieu</p>
                    </div>
                </ng-template>

            </nz-alert>

            <nz-alert class="mb-0" nzType="info" [nzMessage]="syncError" *ngIf="editMode && response.fee && response.isAdjustedFeeIsFuture()" [@fadeInOnEnter]>
    
                <ng-template #syncError>
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <p class="mb-0 font-weight-600">Fee will be adjusted to {{ response.adjustedFee.netAmount | currency: client.currency : 'symbol':'1.2-2' }} from {{ response.adjustedFee.effectiveDate }}</p>
                    </div>
                </ng-template>

            </nz-alert>

        </div>

        <div mat-dialog-actions class="m-0 py-16 px-24 fm-border-top" fxLayout="row" fxLayoutAlign="space-between center">

            <span>

                <ng-container *ngIf="editMode">

                    <button class="text-uppercase mat-close-btn" 
                        *hasPermission="['AC3']; belongsTo 'N25'"
                        type="button"
                        nz-button 
                        nzType="default"
                        (click)="delete($event)">
                        <i class="trash alternate outline icon mr-8"></i> Delete
                    </button>

                </ng-container>

            </span>

            <span class="text-right">

                <ng-container *ngIf="!editMode">

                    <button class="text-uppercase mr-8"
                        *hasPermission="['AC1']; belongsTo 'N25'"
                        nz-button 
                        nzType="primary" 
                        [disabled]="!bookingForm.valid"
                        [promiseBtn]="buttonLoader">
                        <i class="plus icon mr-8"></i> Save
                    </button>

                </ng-container>

                <ng-container *ngIf="editMode">

                    <button class="text-uppercase mr-8"
                        *hasPermission="['AC2']; belongsTo 'N25'"
                        nz-button 
                        nzType="primary" 
                        [disabled]="!bookingForm.valid || !enableUpdateButton()"
                        [promiseBtn]="buttonLoader">
                        <i class="plus icon mr-8"></i> Update
                    </button>

                </ng-container>


                <button class="text-uppercase mat-close-btn" 
                    type="button"
                    nz-button 
                    nzType="danger"
                    (click)="matDialogRef.close()">
                    Close
                </button>

            </span>

        </div>

    </form>

</div>
