<div class="dialog-content-wrapper">

    <mat-toolbar class="mat-accent m-0">

        <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">

            <span class="title dialog-title">{{ dialogTitle }}</span>
            <button mat-icon-button disableRipple="true" type="button" (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>

    </mat-toolbar>

    <mat-toolbar class="mat-accent m-0">

        <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            
            <nz-input-group class="search-container" [nzSuffix]="suffixTemplate" [nzPrefix]="prefixTemplate">
                <input type="text" nz-input placeholder="Search ..." [formControl]="searchInput" />
            </nz-input-group>
    
            <ng-template #prefixTemplate>
                <i nz-icon nzType="search" class="search-icon"></i>
            </ng-template>

            <ng-template #suffixTemplate>
                <i class="times circle outline icon ant-input-clear-icon" *ngIf="searchInput.value"  [@fadeInOnEnter]
                    [@fadeOutOnLeave] (click)="clearSearch($event)">
                </i>
            </ng-template>
    
        </mat-toolbar-row>

    </mat-toolbar>

    <mat-toolbar class="mat-accent m-0 filtersdiv">
       
        <label nz-checkbox             
            [formControl]="filterbyLoginAccess" 
            placement="top" 
            (ngModelChange)="changeFilterbyStatus($event)">
            <span class="loginaccess-filter">Filter By Login Access</span>
        </label>
    
        <nz-switch *ngIf="showToggle" 
            [formControl]="loginAccessToggle" 
            size="small" 
            nzCheckedChildren="Yes" 
            nzUnCheckedChildren="No" 
            (ngModelChange)="ChangefilterBy($event)">
        </nz-switch>

    </mat-toolbar>

    <form class="compose-form" fxLayout="column" fxFlex [nzLayout]="'vertical'" [formGroup]="" nz-form>

        <div mat-dialog-content class="p-24 pt-16 m-0" fusePerfectScrollbar [fusePerfectScrollbarOptions]="{ suppressScrollX: true }">

            <div class="help-panel" [@slideMotion]="'bottom'">

                <div class="email-summary">
    
                    <ul class="__wrapper">
                        <li>
                            <span class="label">
                                <i class="envelope icon mr-4"></i>
                                All
                            </span>
                            <span class="label highlight">{{ userList.length || 0 }}</span>
                        </li>
                    </ul>
    
                    <ul class="__wrapper">
                        <li>
                            <span class="label">
                                <i class="envelope outline icon mr-4"></i>
                                Emailed
                            </span>
                            <span class="label highlight">{{ emailed.length || 0 }}</span>
                        </li>
                    </ul>
    
                    <ul class="__wrapper">
                        <li>
                            <span class="label">
                                <i class="calendar times outline icon mr-4"></i>
                                Expired
                            </span>
                            <span class="label highlight">{{ expired.length || 0 }}</span>
                        </li>
                    </ul>
    
                </div>
                
            </div>

            <nz-form-item>

                <nz-form-control
                    [nzValidateStatus]="previewBookingSlotErrorStatus"
                    [nzErrorTip]="previewBookingSelectionErrorTpl">

                    <nz-table class="mt-4"
                        [nzLoading]="tableLoading"
                        [nzLoadingIndicator]="indicatorTemplate"
                        [nzData]="userList"
                        [nzShowPagination]="false"
                        [nzSize]="'small'"
                        [nzNoResult]="emptyBlock">

                        <thead>
                            <tr>
                                <th 
                                    nzShowCheckbox 
                                    [(nzChecked)]="isAllPreviewDataChecked"
                                    [nzIndeterminate]="isPreviewIndeterminate"
                                    (nzCheckedChange)="checkAllPreviews($event)"></th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Status</th>
                                <th>Login Access</th>
                            </tr>
                        </thead>
                        
                        <tbody>
                            <tr *ngFor="let data of userList | userNameFilter: searchInput.value; trackBy: trackByFn" [ngClass]="{ 'hasInitiation' : data.disabled }">
                                <td [nzAlign]="'center'" [ngClass]="{ 'overlapped' : data.disabled }">
                                    <label 
                                        nz-checkbox
                                        [(nzChecked)]="data.selected"
                                        [nzDisabled]="data.disabled"
                                        (nzCheckedChange)="refreshPreviewStatus()"></label>
                                </td>
                                <td [ngClass]="{ 'overlapped' : data.disabled }">{{data.firstName}} {{ data.lastName}}</td>
                                <td [ngClass]="{ 'overlapped' : data.disabled }">{{data.email}}</td>
                                <td [ngClass]="{ 'overlapped' : data.disabled }">{{ getStatus(data.isExpired, data.expires) }}</td>
                                <td [ngClass]="{ 'overlapped' : data.disabled }">{{(data.loginAccess)? 'Yes': 'No'}}</td>
                            </tr>
                        </tbody>
                                            
                    </nz-table>

                    <ng-template #previewBookingSelectionErrorTpl let-control>
                        <ng-container>Please select at least one option</ng-container>
                    </ng-template>

                </nz-form-control>

            </nz-form-item>

        </div>

        <div mat-dialog-actions class="m-0 py-16 px-24 fm-border-top" fxLayout="row" fxLayoutAlign="space-between center">

            <span>

            </span>

            <span class="text-right">

                <button class="text-uppercase mr-8"
                    *hasPermission="['AC1']; belongsTo 'N04'"
                    nz-button 
                    nzType="primary" 
                    [disabled]="getSelectedPreviewSlotItems().length < 1"
                    [promiseBtn]="buttonLoader"
                    (click)="onFormSubmit($event)">
                    <i class="plus icon mr-8"></i> Send
                </button>
    
                <button class="text-uppercase mat-close-btn" 
                    type="button"
                    nz-button 
                    nzType="danger"
                    (click)="matDialogRef.close()">
                    Close
                </button>

            </span>

        </div>

    </form>

    <!-- EMPTY VIEW -->
    <ng-template #emptyBlock>

        <nz-empty class="pt-24 pb-24 m-0"
            [nzNotFoundImage]="'assets/icons/flat/ui_set/custom_icons/empty.svg'"
            [nzNotFoundContent]="contentTpl"
            [@fadeInOnEnter] [@fadeOutOnLeave]>

            <ng-template #contentTpl>
                <h4 class="mt-24">No Data Found</h4>
                <span>Looks like there's no information to display here</span>
            </ng-template>

        </nz-empty>

    </ng-template>
    <!-- / EMPTY VIEW -->

    <ng-template #indicatorTemplate>
        <div class="is-loading">
            <span class="btn-spinner card-loader"></span>
        </div>
    </ng-template>

</div>
