<div
    id="is-case-claims"
    class="page-layout simple left-sidebar inner-sidebar inner-scroll"
    *canViewAuth
    [@fadeInOnEnter]
    [@fadeOutOnLeave]
>
    <!-- HEADER -->
    <div
        class="header p-24"
        fxLayout="row"
        fxLayoutAlign="space-between center"
    >
        <h1 [@animate]="{ value: '*', params: { delay: '100ms', x: '-15px' } }">
            Inclusion Support Case Claims
        </h1>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">
        <!-- SIDEBAR -->
        <fuse-sidebar
            class="sidebar"
            name="is-case-claim-list-sidebar"
            position="left"
            lockedOpen="gt-md"
        >
            <app-is-case-claim-list-left-sidenav
                [@animate]="{
                    value: '*',
                    params: { delay: '200ms', x: '-15px' }
                }"
                fusePerfectScrollbar
                [fusePerfectScrollbarOptions]="{ suppressScrollX: true }"
                (updateTableScroll)="updateScroll($event)"
            >
            </app-is-case-claim-list-left-sidenav>
        </fuse-sidebar>
        <!-- / SIDEBAR -->

        <!-- CENTER -->

        <div
            fxLayout="column"
            fxFlex
            fusePerfectScrollbar
            [fusePerfectScrollbarOptions]="{ suppressScrollX: true }"
            (updateTableScroll)="updateScroll($event)"
            [@animate]="{ value: '*', params: { delay: '200ms', x: '15px' } }"
        >
            <app-is-case-claim-list-view class="center p-24 pt-32">
            </app-is-case-claim-list-view>

            <app-is-case-claim-submissions-list-view class="center p-24 pt-32">
            </app-is-case-claim-submissions-list-view>

        </div>
        <!-- / CENTER -->
    </div>
    <!-- / CONTENT -->
</div>
