<div class="dialog-content-wrapper">

    <mat-toolbar class="mat-accent m-0">

        <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">

            <span class="title dialog-title">Download report</span>

            <button mat-icon-button disableRipple="true" type="button" (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>

        </mat-toolbar-row>

    </mat-toolbar>

    <form name="form" class="compose-form" fxLayout="column" fxFlex [nzLayout]="'vertical'" [formGroup]="form" nz-form>

        <div mat-dialog-content class="p-24 pt-16 m-0" fusePerfectScrollbar [fusePerfectScrollbarOptions]="{ suppressScrollX: true }">

            <div nz-row [nzGutter]="24">

                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
                    
                    <nz-form-item>

                        <nz-form-label nzRequired>Start date</nz-form-label>

                        <nz-form-control nzHasFeedback [nzErrorTip]="sDateErrorTpl">

                            <nz-date-picker [nzInputReadOnly]="true" formControlName="start_date" nzPlaceHolder="start date" class="block"></nz-date-picker>

                            <ng-template #sDateErrorTpl let-control>
                                <ng-container *ngIf="control.hasError('required')">Please input  start date</ng-container>
                            </ng-template>

                        </nz-form-control>

                    </nz-form-item>

                </div>

                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
                    
                    <nz-form-item>

                        <nz-form-label nzRequired>End date</nz-form-label>

                        <nz-form-control nzHasFeedback [nzErrorTip]="wDateErrorTpl">

                            <nz-date-picker [nzInputReadOnly]="true" formControlName="end_date" nzPlaceHolder="end date" class="block"></nz-date-picker>

                            <ng-template #wDateErrorTpl let-control>
                                <ng-container *ngIf="control.hasError('required')">Please input  end date</ng-container>
                            </ng-template>

                        </nz-form-control>

                    </nz-form-item>

                </div>

            </div>

        </div>

        <div mat-dialog-actions class="m-0 py-16 px-24 fm-border-top" fxLayout="row" fxLayoutAlign="space-between center">

            <span>

            </span>

            <span class="text-right">

                <button class="text-uppercase mr-8"
                *hasPermission="['AC0']; belongsTo 'N64'"
                nz-button 
                nzType="primary" 
                [disabled]="!form.valid"
                [promiseBtn]="buttonLoader"
                (click)= "onFormSubmit($event, false)">
                <i class="eye icon mr-8"></i> View
                </button>

                <button class="text-uppercase mr-8"
                    *hasPermission="['AC0']; belongsTo 'N64'"
                    nz-button 
                    nzType="primary" 
                    [disabled]="!form.valid"
                    [promiseBtn]="downloadButton"
                    (click)= "onFormSubmit($event, true)">
                    <i class="plus icon mr-8"></i> Download
                </button>
    
                <button class="text-uppercase mr-8" 
                    type="button"
                    nz-button 
                    nzType="default"
                    (click)="resetForm($event)">
                    Reset
                </button>
    
                <button class="text-uppercase mat-close-btn" 
                    type="button"
                    nz-button 
                    nzType="danger"
                    (click)="matDialogRef.close()">
                    Close
                </button>

            </span>

        </div>

    </form>

</div>
