@import "src/@fuse/scss/fuse";
@import "src/@fuse/scss/variables";

child-attendance {

    @include media-breakpoint('xs') {
        // width: 100%;
    }

    @include media-breakpoint('gt-xs') {
        // width: 640px;
    }

    .toolbar-separator {
        height: 32px;
        width: 1px;
        margin: 0 12px;
        background-color: #e5e8eb;
    }

    .toolbar {
        .on {
            color: $danger-color !important;
        }

        .qt {
            font-size: 17px;
        }

        .active {
            color: $primary-color !important;
        }
    }

    .content {

        .help-panel {
            display: flex;
            width: 100%;
            padding: 16px 24px;
            background: $default-background-color;
            box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.05);
            border-bottom: 1px solid $layout-border-color;

            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                display: inline-flex;
                padding: 8px 12px;
                border-radius: 4px;
                background: #fff;
                margin-right: 16px;
                border: 1px solid $form-border-color;
                box-shadow: $custom-box-shadow;

                &:last-of-type {
                    margin-right: 0;
                }

                @media only screen and (max-width: 721px) {
                    flex-direction: column;
                    flex: 1 0 auto;
                }

                li {
                    display: inline-flex;
                    align-items: center;
                    margin-right: 8px;

                    &:last-of-type {
                        margin-right: 0;
                    }

                    @media only screen and (max-width: 721px) {
                        flex: 1;
                        margin-bottom: 4px;

                        &:last-of-type {
                            margin-bottom: 0;
                        }
                    }

                    .color-box {
                        font-size: 21px;

                        &.completed {
                            color: rgba(76, 175, 80, 0.6);
                        }

                        &.not-completed {
                            color: rgba(255, 149, 0, 0.5);
                        }

                        &.no-attendance {
                            color: rgba(231, 76, 60, 0.6);
                        }

                        &.absence {
                            color: rgba(96, 125, 139, 0.55);
                        }

                        &.holiday {
                            color: rgba(158, 158, 158, 0.35);
                        }
                    }

                    .label {
                        font-size: 14px;
                        font-weight: 600;

                        &.highlight {
                            padding-left: 6px;
                            color: $success-color;
                        }
                    }
                }
            }
        }
        
    }
}
