@import "src/@fuse/scss/fuse";
@import "src/@fuse/scss/variables";

.enrollment-view-dialog {

    @include media-breakpoint('xs') {
        width: 100%;
    }

    @include media-breakpoint('gt-xs') {
        width: 1000px;
    }

    p {
        text-align: justify;
        text-justify: inter-word;
    }

    .mat-dialog-container {
        padding: 0;

        .compose-form {

        }
    }

    .dialog-content-wrapper {
        display: flex;
        flex-direction: column;

        .session-routine {
            margin: 0;
            padding: 8px;
            padding-top: 16px;
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            border: 2px solid $input-border-color;
            border-radius: 4px;

            .session-row {
                min-width: 14.28571%;
                flex-basis: 14.28571%;

                &.hide-week {
                    min-width: 20%;
                    flex-basis: 20%;
                }

                @include media-breakpoint('xs') {
                    flex-basis: 100% !important;
                    min-width: 100% !important;
                    margin: 0 0 4px;
                }

                .session-content {
                    flex: 1;

                    .session-label {
                        font-size: 14px;
                        font-weight: 600;
                        text-transform: uppercase;
                        color: rgba(34, 34, 34, 0.4);
                        text-align: center;
                    }

                    .session-inner {
                        padding: 4px;

                        .session-item {
                            overflow: hidden;
                            text-align: center;
                            padding: 2px 0;
                            border: 2px solid $input-border-color;
                            box-shadow: $custom-box-shadow;
                            border-radius: 4px;
                            margin-bottom: 4px;
                            font-size: 12px;
                            font-weight: 600;
                            background-color: rgba(96, 125, 139, 0.55);
                            // background-color: rgba(255, 149, 0, 0.5);

                            &:last-of-type {
                                margin-bottom: 0;
                            }

                            &.extra {
                                background-color: rgba(96, 125, 139, 0.55);
                                cursor: pointer;
                            }

                            &.add {
                                border-color: transparent;
                                cursor: pointer;
                                box-shadow: none;
                                background-color: transparent;
                            }

                            .fee {
                                display: inline-flex;
                                align-items: center;
                                justify-content: center;
                                font-size: 11px;
                                background: rgba(0, 0, 0, 0.085);
                                padding: 2px 8px;
                                border-radius: 16px;
                                margin-top: 3px;
                                margin-bottom: 3px;
                            }
                        }

                    }

                }

            }

            .session-row-space {
                min-width: 100%;
                height: 8px;
            }

            .session-row-label {
                min-width: 100%;
                margin-bottom: 16px;
                text-align: center;

                span {
                    display: inline-block;
                    font-size: 14px;
                    font-weight: 600;
                    background: $layout-border-color;
                    padding: 4px 12px;
                    border-radius: 20px;
                    box-shadow: $custom-box-shadow-high;
                }
            }

        }

        h3 {
            margin: 30px 0;
        }

        h6 {
            margin-top: 25px;
            font-size: 18px;
        }

    }
}

