@import "../../../../../../../@fuse/scss/fuse";

.new-or-edit-school {

    @include media-breakpoint('xs') {
        width: 100%;
    }

    @include media-breakpoint('gt-xs') {
        width: 640px;
    }

    .mat-dialog-container {
        padding: 0;
        width: 640px;
        .compose-form {
            nz-select {
                width: 100%;
            }

            .loading-icon {
                margin-right: 8px;
            }

        }
    }

    .dialog-content-wrapper {
        display: flex;
        flex-direction: column;

        
        .pinreset{
            margin-left: 25px;
            margin-top: 30px;
            padding: 1px 5px;
        }
    }
}
