<div class="dialog-content-wrapper">

    <mat-toolbar class="mat-accent m-0">

        <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">

            <span class="title dialog-title">
                {{ dialogTitle }}
                ({{ history.startDate }} - {{ history.endDate }})
            </span>

            <button mat-icon-button disableRipple="true" type="button" (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>

        </mat-toolbar-row>

    </mat-toolbar>

    <div mat-dialog-content class="p-24 pt-16 m-0" 
        fusePerfectScrollbar [fusePerfectScrollbarOptions]="{ suppressScrollX: true }">

        <nz-table 
            #bookingDetailsTable 
            *ngIf="history.bookings.length > 0 else noRecordBlock"
            [nzSize]="'small'"
            [nzData]="history.bookings">

            <thead>
                <tr>
                    <th>Date</th>
                    <th>Room</th>
                    <th>Fee</th>
                    <th>Created By</th>
                    <th>Created On</th>
                    <th>Updated On</th>
                    <th>Deleted On</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let item of bookingDetailsTable.data">
                    <td [ngClass]="{ 'deleted-booking' : item.deletedAt }">{{ item.date }} ({{ item.day | titlecase }})</td>
                    <td [ngClass]="{ 'deleted-booking' : item.deletedAt }">{{ item.room.title }}</td>
                    <td [ngClass]="{ 'deleted-booking' : item.deletedAt }">{{ item.fee.name }}</td>
                    <td [ngClass]="{ 'deleted-booking' : item.deletedAt }">{{ item.creator.getFullName() }}</td>
                    <td [ngClass]="{ 'deleted-booking' : item.deletedAt }">{{ item.createdAt | formatMoment: 'YYYY-MM-DD h:mm:ss A' }}</td>
                    <td [ngClass]="{ 'deleted-booking' : item.deletedAt }">{{ item.updatedAt | formatMoment: 'YYYY-MM-DD h:mm:ss A' }}</td>
                    <td [ngClass]="{ 'deleted-booking' : item.deletedAt }">{{ (item.deletedAt | formatMoment: 'YYYY-MM-DD h:mm:ss A') || 'N/A' }}</td>
                </tr>
            </tbody>

        </nz-table>

        <ng-template #noRecordBlock>
            <p class="m-0 py-8 font-weight-600" fxLayout="row" fxLayoutAlign="center center">
                <i class="info circle icon mr-8"></i> Booking not available
            </p>
        </ng-template>
        
    </div>

    <div mat-dialog-actions class="m-0 py-16 px-24 fm-border-top" fxLayout="row" fxLayoutAlign="space-between center">

        <span></span>

        <span class="text-right">

            <button class="text-uppercase mat-close-btn" 
                type="button"
                nz-button 
                nzType="danger"
                (click)="matDialogRef.close()">
                Close
            </button>

        </span>

    </div>

</div>