<form>
    <div nz-row [nzGutter]="24" [formGroup]="formGroup" [@fadeInOnEnter]>
        <div *ngFor="let input of section.inputs"
             [hidden]="input.hidden || (input.input_name=='dateOfBirth' && !bornOrNotBorn)"
             nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24"
             [nzLg]="(input.column_height=== '33')?'8':(input.column_height==='66')?'15':(input.column_height==='50')?'12':(input.column_height==='70')?'16':28"
             [nzXl]="(input.column_height=== '33')?'8':(input.column_height==='66')?'15':(input.column_height==='50')?'12':(input.column_height==='70')?'16':28"
             [nzXXl]="(input.column_height=== '33')?'8':(input.column_height==='66')?'15':(input.column_height==='50')?'12':(input.column_height==='70')?'16':28"
        >
            <!----------------------------------------------- text box-------------------------------------------------------->

            <nz-form-item formGroupName="{{input.input_name}}"
                          *ngIf="(input.input_type=='textbox'|| input.input_type=='email') && !input.hidden">

                <span fxLayout="row" fxLayoutAlign="start start">
                    <nz-form-label class="pr-8" style="float: top"
                                   [nzRequired]="input.input_mandatory">
                    </nz-form-label>
                    <span [innerHTML]="input.question | keepHtml"></span>
                </span>

                <nz-form-control nzHasFeedback>

                    <input nz-input formControlName="{{input.input_name}}" placeholder="{{input.input_placeholder}}"
                           type="text"/>

                    <ng-template let-control>
                        <ng-container *ngIf="control.hasError('required')">Please input first name
                        </ng-container>
                        <ng-container *ngIf="control.hasError('maxlength')">Can't be longer than 150
                            characters
                        </ng-container>
                    </ng-template>

                </nz-form-control>

            </nz-form-item>


            <!----------------------------------------------- richTextBox -------------------------------------------------------->

            <nz-form-item formGroupName="{{input.input_name}}"
                          *ngIf="(input.input_type=='richTextBox') && !input.hidden">
                <p><span [innerHTML]="input.question | keepHtml"></span></p>
            </nz-form-item>

            <!----------------------------------------------- hyperlink -------------------------------------------------------->

            <nz-form-item formGroupName="{{input.input_name}}"
                          *ngIf="(input.input_type=='hyperlink') && !input.hidden">
                <a (click)="gotoPage(input.types.hyperlink)"><span [innerHTML]="input.question | keepHtml"></span></a>
            </nz-form-item>

            <!----------------------------------------------- Signature -------------------------------------------------------->

            <nz-form-item formGroupName="{{input.input_name}}" *ngIf="(input.input_type=='signature') && !input.hidden">
               <span fxLayout="row" fxLayoutAlign="start start">
                    <nz-form-label class="pr-8" style="float: top"
                                   [nzRequired]="input.input_mandatory">
                    </nz-form-label>
                    <span [innerHTML]="input.question | keepHtml"></span>
                </span>
                <nz-form-control nzHasFeedback class="signatureClass">
                    <signature-pad disabled="true" #signature
                                   [options]="{ 'minWidth': 0.7,'maxWidth':2.5, 'canvasWidth':365,'canvasHeight': 100}"
                    ></signature-pad>
                </nz-form-control>
                <button (click)="clearSignature(input.input_name)" nz-button nzType="dashed" nzBlock>Clear</button>
            </nz-form-item>

            <!----------------------------------------------- upload header new -------------------------------------------------------->

            <div
                *ngIf="!input.hidden && input.input_type=='upload-switch' && input.status=='new'"
                class="fuse-widget-front mat-elevation-z2">
                <div class="pl-16 pr-8 py-20" fxLayout="row" fxLayoutAlign="space-between center">
                                 <span fxLayout="row" fxLayoutAlign="start start">
                                    <nz-form-label class="pr-8" style="float: top"
                                                   [nzRequired]="input.input_mandatory">
                                    </nz-form-label>
                                    <span [innerHTML]="input.question | keepHtml"></span>
                                </span>
                    <span>
                                        <nz-form-control nzHasFeedback>
                                            <nz-switch [nzDisabled]="true"
                                                       nzCheckedChildren="Yes"
                                                       nzUnCheckedChildren="No"
                                            >
                                            </nz-switch>
                                        </nz-form-control>
                                </span>
                </div>
            </div>

            <!----------------------------------------------- Signature -------------------------------------------------------->

            <!--            <nz-form-item formGroupName="{{input.input_name}}" *ngIf="(input.input_type=='signature') && !input.hidden">-->

            <!--                <nz-form-label [nzRequired]="input.input_mandatory"><span [innerHTML]="input.question | keepHtml"></span></nz-form-label>-->
            <!--                <button nz-button nzType="primary" [disabled]="false" type="button"-->
            <!--                >-->
            <!--                    Clear-->
            <!--                </button>-->
            <!--                <nz-form-control nzHasFeedback class="signatureClass">-->
            <!--                    <signature-pad disabled="true" name="{{input.input_name}}"-->
            <!--                                   [options]="signaturePadOptions"></signature-pad>-->
            <!--                </nz-form-control>-->

            <!--            </nz-form-item>-->


            <!----------------------------------------------- radio group -------------------------------------------------------->

            <nz-form-item formGroupName="{{input.input_name}}"
                          *ngIf="input.input_type=='radio-group'&& !input.hidden && input.input_name == 'childGender' && bornOrNotBorn">

                <span fxLayout="row" fxLayoutAlign="start start">
                    <nz-form-label class="pr-8" style="float: top"
                                   [nzRequired]="input.input_mandatory">
                    </nz-form-label>
                    <span [innerHTML]="input.question | keepHtml"></span>
                </span>

                <nz-form-control nzHasFeedback>

                    <nz-radio-group formControlName="{{input.input_name}}"
                                    nzButtonStyle="solid"
                                    class="has-img">

                        <label *ngFor="let type of input.types" nz-radio-button
                               nzValue="{{type.value}}">
                            <!--                            <img class="mr-8" src="{{type.image}}"-->
                            <!--                                 alt="{{type.alt}}">-->
                            <span>{{type.name}}</span>
                        </label>
                    </nz-radio-group>

                </nz-form-control>

            </nz-form-item>

            <!----------------------------------------------- child datepicker -------------------------------------------------------->

            <nz-form-item formGroupName="{{input.input_name}}"
                          *ngIf="input.input_type=='date-picker' && !input.hidden && input.input_name=='dateOfBirth' && bornOrNotBorn">

               <span fxLayout="row" fxLayoutAlign="start start">
                    <nz-form-label class="pr-8" style="float: top"
                                   [nzRequired]="input.input_mandatory">
                    </nz-form-label>
                    <span [innerHTML]="input.question | keepHtml"></span>
                </span>

                <nz-form-control nzHasFeedback>

                    <nz-date-picker [nzDisabledDate]="disabledDate" formControlName="{{input.input_name}}"
                                    class="block"></nz-date-picker>

                </nz-form-control>

            </nz-form-item>

            <!----------------------------------------------- parent datepicker -------------------------------------------------------->

            <nz-form-item formGroupName="{{input.input_name}}"
                          *ngIf="input.input_type=='date-picker' && !input.hidden && input.input_name=='parentdateOfBirth'">

               <span fxLayout="row" fxLayoutAlign="start start">
                    <nz-form-label class="pr-8" style="float: top"
                                   [nzRequired]="input.input_mandatory">
                    </nz-form-label>
                    <span [innerHTML]="input.question | keepHtml"></span>
                </span>

                <nz-form-control nzHasFeedback>

                    <nz-date-picker [nzDisabledDate]="disabledDate" formControlName="{{input.input_name}}"
                                    class="block"></nz-date-picker>

                </nz-form-control>

            </nz-form-item>

            <!-----------------------------------------------  datepicker -------------------------------------------------------->

            <nz-form-item formGroupName="{{input.input_name}}"
                          *ngIf="input.input_type=='date-picker' && !input.hidden && input.input_name!=='parentdateOfBirth' && input.input_name!=='dateOfBirth'">

               <span fxLayout="row" fxLayoutAlign="start start">
                    <nz-form-label class="pr-8" style="float: top"
                                   [nzRequired]="input.input_mandatory">
                    </nz-form-label>
                    <span [innerHTML]="input.question | keepHtml"></span>
                </span>

                <nz-form-control nzHasFeedback>

                    <nz-date-picker formControlName="{{input.input_name}}"
                                    class="block"></nz-date-picker>

                </nz-form-control>

            </nz-form-item>

            <!----------------------------------------------- switch-------------------------------------------------------->

            <nz-form-item fxLayout="column" fxLayoutAlign="space-around stretch" formGroupName="{{input.input_name}}"
                          *ngIf="input.input_type=='switch'&& !input.hidden && input.input_name !== 'child_bornOrNot'">

                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <span fxLayout="row" fxLayoutAlign="start start">
                           <nz-form-label class="pr-8" style="float: top"
                                          [nzRequired]="input.input_mandatory">
                           </nz-form-label>
                        <span [innerHTML]="input.question | keepHtml"></span>
                    </span>
                    <span class="text-right" style="padding-left: 30px">
                        <nz-form-control class="text-right" style="padding-left: 30px">
                            <nz-switch
                                formControlName="{{input.input_name}}" nzCheckedChildren="Yes"
                                nzUnCheckedChildren="No">
                            </nz-switch>
                        </nz-form-control>
                    </span>
                </div>
            </nz-form-item>

            <!----------------------------------------------- switch - waitlist-------------------------------------------------------->

            <nz-form-item fxLayout="column" fxLayoutAlign="space-around stretch" formGroupName="{{input.input_name}}"
                          *ngIf="input.input_type=='switch'&& !input.hidden && input.input_name =='child_bornOrNot'">

               <span fxLayout="row" fxLayoutAlign="start start">
                    <nz-form-label class="pr-8" style="float: top"
                                   [nzRequired]="input.input_mandatory">
                    </nz-form-label>
                    <span [innerHTML]="input.question | keepHtml"></span>
                </span>

                <nz-form-control fxLayout="column" fxLayoutAlign="space-around stretch" nzHasFeedback>

                    <nz-switch [(ngModel)]="bornOrNotBorn" (ngModelChange)="onChildBornCheck($event)"
                               formControlName="{{input.input_name}}"
                               nzCheckedChildren="Yes"
                               nzUnCheckedChildren="No"
                    >
                    </nz-switch>

                </nz-form-control>

            </nz-form-item>


            <!----------------------------------------------- text-area-------------------------------------------------------->

            <nz-form-item formGroupName="{{input.input_name}}"
                          *ngIf="input.input_type=='text-area'&& !input.hidden">

                <span fxLayout="row" fxLayoutAlign="start start">
                    <nz-form-label class="pr-8" style="float: top"
                                   [nzRequired]="input.input_mandatory">
                    </nz-form-label>
                    <span [innerHTML]="input.question | keepHtml"></span>
                </span>

                <nz-form-control nzHasFeedback>

                                                              <textarea formControlName="{{input.input_name}}" nz-input
                                                                        rows="4"
                                                                        placeholder="{{input.input_placeholder}}"></textarea>

                </nz-form-control>

            </nz-form-item>

            <!----------------------------------------------- select-------------------------------------------------------->

            <nz-form-item formGroupName="{{input.input_name}}"
                          *ngIf="input.input_type=='select' && !input.hidden && input.input_name !== 'parentCountry' && input.input_name !== 'additionalCarerCountry'">

               <span fxLayout="row" fxLayoutAlign="start start">
                    <nz-form-label class="pr-8" style="float: top"
                                   [nzRequired]="input.input_mandatory">
                    </nz-form-label>
                    <span [innerHTML]="input.question | keepHtml"></span>
                </span>

                <nz-form-control nzHasFeedback>
                    <nz-select nzPlaceHolder="Please Select"
                               nzAllowClear
                               formControlName="{{input.input_name}}" nzShowSearch style="height: 48px;">
                        <nz-option *ngFor="let item of input.types.options" nzValue="{{ item }}"
                                   nzLabel="{{ item }}" title="{{item}}">
                        </nz-option>
                    </nz-select>
                </nz-form-control>

            </nz-form-item>
            <!----------------------------------------------- select-multiple -------------------------------------------------------->

            <nz-form-item formGroupName="{{input.input_name}}"
                          *ngIf="input.input_type=='select-multiple' && input.input_name!=='emenrgencyType'">

                <span fxLayout="row" fxLayoutAlign="start start">
                    <nz-form-label class="pr-8" style="float: top"
                                   [nzRequired]="input.input_mandatory">
                    </nz-form-label>
                    <span [innerHTML]="input.question | keepHtml"></span>
                </span>

                <nz-form-control nzHasFeedback>
                    <nz-select *ngIf="input.types?.multiple===false || input.types?.multiple===undefined"
                               formControlName="{{input.input_name}}"
                               nzPlaceHolder="Please Select" nzShowSearch nzAllowClear>

                        <nz-option *ngFor="let item of input.types.options" nzValue="{{ item }}"
                                   nzLabel="{{ item }}" title="{{item}}">
                        </nz-option>

                    </nz-select>

                    <nz-select *ngIf="input.types?.multiple"
                               nzMode="multiple"
                               [nzMaxTagCount]="3"
                               [nzMaxTagPlaceholder]="tagPlaceHolder"
                               nzPlaceHolder="{{input.input_placeholder}}" nzAllowClear
                               formControlName="{{input.input_name}}"
                               nzShowSearch
                               style="height: 48px;">

                        <nz-option *ngFor="let items of  input.types.options" [nzValue]="items"
                                   [nzLabel]="items" title="{{items}}">
                        </nz-option>

                    </nz-select>
                    <ng-template *ngIf="input.types?.multiple" #tagPlaceHolder let-selectedList>
                        and {{ selectedList.length }} more selected
                    </ng-template>
                </nz-form-control>

            </nz-form-item>
            <!----------------------------------------------- select country-------------------------------------------------------->

            <nz-form-item formGroupName="{{input.input_name}}"
                          *ngIf="input.input_type=='select'&& !input.hidden && (input.input_name == 'parentCountry' || input.input_name == 'additionalCarerCountry')">

                <span fxLayout="row" fxLayoutAlign="start start">
                    <nz-form-label class="pr-8" style="float: top"
                                   [nzRequired]="input.input_mandatory">
                    </nz-form-label>
                    <span [innerHTML]="input.question | keepHtml"></span>
                </span>

                <nz-form-control nzHasFeedback>
                    <nz-select formControlName="{{input.input_name}}"
                               nzPlaceHolder="{{input.input_placeholder}}" nzShowSearch nzAllowClear>

                        <nz-option *ngFor="let item of countriesList" nzValue="{{ item.code }}"
                                   nzLabel="{{ item.name }}" title="{{item.name}}">
                        </nz-option>

                    </nz-select>

                </nz-form-control>

            </nz-form-item>

            <!-- ========================================================== select- multiselect ----------------------------------------------->

            <nz-form-item formGroupName="{{input.input_name}}"
                          *ngIf="input.input_type=='select-multiple' && input.input_name=='emenrgencyType'">

                <span fxLayout="row" fxLayoutAlign="start start">
                    <nz-form-label class="pr-8" style="float: top"
                                   [nzRequired]="input.input_mandatory">
                    </nz-form-label>
                    <span [innerHTML]="input.question | keepHtml"></span>
                </span>

                <nz-form-control nzHasFeedback>
                    <nz-select nzMode="multiple" nzPlaceHolder="Please Select"
                               nzAllowClear
                               formControlName="{{input.input_name}}" nzShowSearch
                               style="height: 48px;">

                        <nz-option *ngFor="let item of emergency" nzValue="{{ item }}"
                                   nzLabel="{{ item }}" title="{{item}}">
                        </nz-option>

                    </nz-select>
                </nz-form-control>

            </nz-form-item>


            <!------------------------------------------------- checkbox ------------------------------------------------------------>
            <div formGroupName="{{input.input_name}}" nz-col [nzMd]="24" [nzLg]="24"
                 *ngIf="input.input_type=='checkbox'">
                <!--multiple-->
                <div *ngIf="input.types?.multiple">
                         <span fxLayout="row" fxLayoutAlign="start start">
                            <nz-form-label class="pr-8" style="float: top"
                                           [nzRequired]="input.input_mandatory" *ngIf="input.types?.multiple">
                            </nz-form-label>
                            <span [innerHTML]="input.question | keepHtml"></span>
                        </span>

                    <nz-checkbox-wrapper *ngIf="input.types?.multiple"
                                         style="width: 100%;">
                        <div nz-row>
                            <div nz-col nzSpan="24" *ngFor="let option of input.types.options">
                                <label nz-checkbox nzMode="multiple"
                                       (nzCheckedChange)="changeMultiChecks(input.input_name,$event,option)"
                                       nzValue="{{option}}">{{option}}</label>
                            </div>
                        </div>
                    </nz-checkbox-wrapper>
                </div>


                <!--normal-->
                <div fxLayout="row" fxLayoutAlign="start start"
                     *ngIf="(input.types?.multiple===false || input.types?.multiple===undefined) && (input.types?.fontBold === undefined || input.types.fontBold===false)">
                    <label
                        *ngIf="(input.types?.multiple===false || input.types?.multiple===undefined) && (input.types?.fontBold === undefined || input.types.fontBold===false)"
                        nz-checkbox
                        formControlName="{{input.input_name}}">
                        <!--                    <span>{{input.question}}</span>-->
                    </label>
                    <span class="checkboxLabel"
                          *ngIf="(input.types?.multiple===false || input.types?.multiple===undefined) && (input.types?.fontBold === undefined || input.types.fontBold===false)">
                              <span fxLayout="row" fxLayoutAlign="start start">
                                        <nz-form-label class="pr-8" style="float: top"
                                                       [nzRequired]="input.input_mandatory">
                                        </nz-form-label>
                                        <span [innerHTML]="input.question | keepHtml"></span>
                                </span>
                        </span>
                </div>

                <!--bold-->
                <div fxLayout="row" fxLayoutAlign="start start"
                     *ngIf="(input.types?.fontBold !== undefined && input.types?.fontBold===true) && (input.types?.multiple===false || input.types?.multiple===undefined)">
                    <div>
                        <label
                            *ngIf="(input.types?.fontBold !== undefined && input.types?.fontBold===true) && (input.types?.multiple===false || input.types?.multiple===undefined)"
                            nz-checkbox
                            formControlName="{{input.input_name}}">

                        </label>
                        <span class="checkboxLabel"
                              *ngIf="(input.types?.fontBold !== undefined && input.types?.fontBold===true) && (input.types?.multiple===false || input.types?.multiple===undefined)">
                             <b>
                                    <span fxLayout="row" fxLayoutAlign="start start">
                                        <nz-form-label class="pr-8" style="float: top"
                                                       [nzRequired]="input.input_mandatory">
                                        </nz-form-label>
                                        <span [innerHTML]="input.question | keepHtml"></span>
                                    </span>
                            </b>
                        </span>
                    </div>
                </div>
            </div>
            <!--------------------------------------- atendeance ---------------------------------------------------------------------->

            <div nz-col [nzMd]="24" [nzLg]="24" *ngIf="input.input_name=='attendance'">
                <nz-form-item>
                    <span fxLayout="row" fxLayoutAlign="start start">
                    <nz-form-label class="pr-8" style="float: top"
                                   [nzRequired]="input.input_mandatory">
                    </nz-form-label>
                    <span [innerHTML]="input.question | keepHtml"></span>
                </span>
                    <nz-form-control formArrayName="attendance">
                        <div class="day-selector" *ngFor="let group of attendanceArray.controls; let i = index;"
                             [formGroupName]="i">
                            <!--                            <p class="mb-8 chk-lbl-fix">-->
                            <!--                                <label class="no-select" nz-checkbox [ngModelOptions]="{ standalone: true }"-->
                            <!--                                       [(ngModel)]="allChecked"-->
                            <!--                                       [nzIndeterminate]="indeterminate"-->
                            <!--                                >-->
                            <!--                                    Select all-->
                            <!--                                </label>-->
                            <!--                            </p>-->
                            <div class="day-selector-inner">
                                <ng-container>
                                    <label class="attendance-chk" nz-checkbox formControlName="monday"
                                           [nzChecked]="allChecked"
                                           tooltip="{{ 'Monday' }}" placement="top" display-mobile="false"
                                           hide-delay="50"><span
                                        class="attendance-lbl-inner no-select">{{ 'Monday'| shorten: 2: '' }}</span></label>
                                    <label class="attendance-chk" nz-checkbox formControlName="tuesday"
                                           [nzChecked]="allChecked"
                                           tooltip="{{ 'Tuesday' }}" placement="top" display-mobile="false"
                                           hide-delay="50"><span
                                        class="attendance-lbl-inner no-select">{{ 'Tuesday'| shorten: 2: '' }}</span></label>
                                    <label class="attendance-chk" nz-checkbox formControlName="wednesday"
                                           [nzChecked]="allChecked"
                                           tooltip="{{ 'Wednesday' }}" placement="top" display-mobile="false"
                                           hide-delay="50"><span
                                        class="attendance-lbl-inner no-select">{{ 'Wednesday'| shorten: 2: '' }}</span></label>
                                    <label class="attendance-chk" nz-checkbox formControlName="thursday"
                                           [nzChecked]="allChecked"
                                           tooltip="{{ 'Thursday' }}" placement="top" display-mobile="false"
                                           hide-delay="50"><span
                                        class="attendance-lbl-inner no-select">{{ 'Thursday'| shorten: 2: '' }}</span></label>
                                    <label class="attendance-chk" nz-checkbox formControlName="friday"
                                           [nzChecked]="allChecked"
                                           tooltip="{{ 'Friday' }}" placement="top" display-mobile="false"
                                           hide-delay="50"><span
                                        class="attendance-lbl-inner no-select">{{ 'Friday'| shorten: 2: '' }}</span></label>
                                    <label class="attendance-chk" nz-checkbox
                                           [nzChecked]="allChecked"
                                           tooltip="{{ 'I am fully flexible on days' }}" placement="top"
                                           display-mobile="false"
                                           hide-delay="50"><span [ngClass]="{ weekend : true }"
                                                                 class="attendance-lbl-inner no-select">{{ 'AllDays'| shorten: 3: '' }}</span></label>
                                </ng-container>
                            </div>
                        </div>
                    </nz-form-control>
                </nz-form-item>
            </div>

        </div>


    </div>
</form>