@import "src/@fuse/scss/fuse";

.ccs-entitlement-details-dialog {

    @include media-breakpoint("xs") {
        width: 100%;
    }

    @include media-breakpoint("gt-xs") {
        width: 760px;
    }

    .mat-dialog-container {

        padding: 0px;

    }

    .dialog-content-wrapper {
        display: flex;
        flex-direction: column;
    }

}
