<div class="dialog-content-wrapper">

    <mat-toolbar class="mat-accent m-0">

        <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">

            <span class="title dialog-title">Session Detail</span>

            <button mat-icon-button disableRipple="true" type="button" (click)="matDialogRef.close()"
                aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>

        </mat-toolbar-row>

    </mat-toolbar>

    <div mat-dialog-content class="p-24 pt-16 m-0" fusePerfectScrollbar
        [fusePerfectScrollbarOptions]="{ suppressScrollX: true }">

        <nz-descriptions nzBordered [nzColumn]="{ xxl: 1, xl: 1, lg: 1, md: 1, sm: 1, xs: 1 }">
            <nz-descriptions-item nzTitle="Date">{{ entitlementDetail.date }}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Start Time">{{ entitlementDetail.startTime }}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="End Time">{{ entitlementDetail.endTime }}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Total Hours in Session">{{ entitlementDetail.totalHoursInSession | number:'1.2-2' }}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Session Amount Charged">{{ entitlementDetail.sessionAmountCharged | currency:'AUD' }}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Hourly Amount Charged">{{ entitlementDetail.hourlyAmountCharged | currency:'AUD' }}</nz-descriptions-item>
        </nz-descriptions>

        
        <div *ngIf="entitlementDetail.Entitlements.results.length > 0">

            <nz-divider nzText="Entitlement Details" nzOrientation="center"></nz-divider>

            <nz-table [nzShowPagination]="false" [nzNoResult]="emptyBlock" nzBordered #sessionDetail [nzData]="entitlementDetail.Entitlements.results">
                <thead>
                    <tr>
                        <th>Processed Date</th>
                        <th>Type</th>
                        <th>Amount</th>
                        <th>Subsidised Hours</th>
                        <th>Recipient</th>
                        <th>Reason</th>
                        <th>Event ID</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of sessionDetail.data">
                        <td>{{ data.processedDateTime | date:'medium' }}</td>
                        <td>{{ data.type }}</td>
                        <td>{{ data.amount | currency:'AUD' }}</td>
                        <td>{{ data.subsidisedHours | number:'1.2-2' }}</td>
                        <td>{{ getRecipient(data.recipient) }}</td>
                        <td>{{ getReason(data.reason) }}</td>
                        <td>{{ data.eventID }}</td>
                    </tr>
                </tbody>
            </nz-table>

        </div>

        <!-- EMPTY VIEW -->
        <ng-template #emptyBlock>

            <nz-empty class="pt-24 pb-24 m-0"
                [nzNotFoundImage]="'assets/icons/flat/ui_set/custom_icons/empty.svg'"
                [nzNotFoundContent]="contentTpl" [@fadeInOnEnter] [@fadeOutOnLeave]>

                <ng-template #contentTpl>
                    <h4 class="mt-24">No Data Found</h4>
                    <span>Looks like there's no information to display here</span>
                </ng-template>

            </nz-empty>

        </ng-template>
        <!-- / EMPTY VIEW -->

    </div>

    <div mat-dialog-actions class="m-0 py-16 px-24 fm-border-top" fxLayout="row" fxLayoutAlign="space-between center">

        <span></span>

        <span class="text-right">

            <button class="text-uppercase mat-close-btn" type="button" nz-button nzType="danger"
                (click)="matDialogRef.close()">
                Cancel
            </button>

        </span>

    </div>

</div>