@import "src/@fuse/scss/fuse";
.accs-view{
    @include media-breakpoint("xs") {
        width: 100%;
    }

    @include media-breakpoint("gt-xs") {
        width: 640px;
    }

    .mat-dialog-container {
        padding: 0;
    }

    .dialog-content-wrapper {
        display: flex;
        flex-direction: column;
    }
}