@import "src/@fuse/scss/fuse";
@import "src/@fuse/scss/variables";

import-staff-dialog{

    @include media-breakpoint('xs') {
        width: 100%;
    }

    @include media-breakpoint('gt-xs') {
        width: 640px;
    }

    .mat-dialog-container {
        padding: 0;

        .compose-form {

        }
    }

    .dialog-content-wrapper {
        display: flex;
        flex-direction: column;
    }

}