<div id="reset-password" fxLayout="column">

    <div id="reset-password-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="reset-password-form" [@animate]="{ value:'*', params:{ delay:'300ms', y:'15px', opacity: 0 }}">

            <div class="bg-pattern-wrapper" [ngStyle]="{ 'background-image': 'url(assets/patterns/bg-pattern-login-2.svg)', 'height': '200px' }"></div>

            <div class="bg-inner-wrapper p-24">

                <ng-container *ngIf="!linkInvalid else invalidLink">

                    <div *ngIf="!passwordUpdated">

                        <h2>Reset Your Password</h2>

                        <p class="desc">To conform with our <span class="font-weight-600">strong password policy</span>, you are required to use a sufficiently strong password.</p>
            
                        <nz-alert class="mb-16" nzType="warning" nzMessage="{{ hint }}" *ngIf="hint"></nz-alert>
                        
                        <form name="resetForm" [formGroup]="resetForm" novalidate>
            
                            <mat-form-field appearance="outline">
                                <mat-label>Password</mat-label>
                                <input matInput type="password" formControlName="password">
                                <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                                <mat-error>{{ getPasswordErrorMessage() }}</mat-error>
                            </mat-form-field>
            
                            <mat-form-field appearance="outline">
                                <mat-label>Password (Confirm)</mat-label>
                                <input matInput type="password" formControlName="passwordConfirm">
                                <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                                <mat-error *ngIf="resetForm.get('passwordConfirm').hasError('required')">
                                    Password confirmation is required
                                </mat-error>
                                <mat-error *ngIf="!resetForm.get('passwordConfirm').hasError('required') &&
                                                   resetForm.get('passwordConfirm').hasError('passwordsNotMatching')">
                                    Passwords must match
                                </mat-error>
                            </mat-form-field>
        
                            <button nz-button
                                nzBlock
                                nzType="primary"
                                nzSize="large"
                                class="mt-8"
                                [promiseBtn]="isLoading"
                                [disabled]="resetForm.invalid"
                                (click)="onSubmit($event)">RESET MY PASSWORD</button>
            
                            <div class="copyright">
                                Copyright © {{ copyRightYear }}
                                <strong>kinderm8</strong>, All rights reserved.
                            </div>
                        </form>

                    </div>

                    <div *ngIf="passwordUpdated" class="link-panel mb-16" fxLayoutAlign="center center"
                        [@animate]="{ value:'*', params:{ delay:'300ms', y:'-15px' }}">

                        <div class="text-center">

                            <img src="assets/icons/flat/ui_set/custom_icons/completed.svg" alt="error-icon">

                            <h2>Password Reset Successful</h2>

                            <p>{{ passwordUpdated }}</p>

                        </div>

                    </div>
        
                </ng-container>

                <ng-template #invalidLink>

                    <div class="link-panel mb-16" fxLayoutAlign="center center"
                        [@animate]="{ value:'*', params:{ delay:'300ms', y:'15px', scale: '0.95' }}">

                        <div class="text-center">

                            <img src="assets/icons/flat/ui_set/custom_icons/not-found.svg" alt="error-icon">

                            <h2>Oops !, Sorry...</h2>

                            <p>{{ linkInvalid }}</p>

                        </div>

                    </div>

                </ng-template>
                
                <div class="login" fxLayout="row" fxLayoutAlign="center center">
                    <a class="link" (click)="goToLogin($event)">Go back to login</a>
                </div>

            </div>

        </div>

    </div>

</div>
