<!-- SIDEBAR HEADER -->
<div class="header p-24 pt-32">
    <span class="title">Filters</span>
</div>
<!-- / SIDEBAR HEADER -->

<!-- SIDEBAR CONTENT -->
<div class="content p-24 pt-0" 
    fusePerfectScrollbar 
    [fusePerfectScrollbarOptions]="{ suppressScrollX: true }">

    <form fxLayout="column" fxFlex [formGroup]="parentFiltersForm">

        <div class="mb-16">

            <label class="filter-label mb-8">Room</label>

            <nz-form-control>

                <nz-select  
                    formControlName="room"
                    nzShowSearch
                    nzAllowClear
                    nzPlaceHolder="select a room">

                    <nz-option *ngFor="let item of rooms; trackBy: trackByFn;" nzValue="{{ item.id }}" nzLabel="{{ item.title }}"></nz-option>
                    
                </nz-select>

            </nz-form-control>

        </div>

        <div class="mb-4">

            <label class="filter-label">Status</label>

            <nz-radio-group formControlName="status" [nzDisabled]="parentFiltersForm.controls['status'].disabled">

                <label nz-radio nzValue="1" class="_filter">Active</label>
                <label nz-radio nzValue="0" class="_filter">Inactive</label>

            </nz-radio-group>

        </div>
    
    </form>

</div>
<!-- / SIDEBAR CONTENT -->

<!-- SIDEBAR ACTION -->
<nz-button-group class="filter-action px-24 py-16">

    <button nz-button 
        (click)="clearFilter($event)" 
        [disabled]="checkClearFilter()">Clear</button>

    <button nz-button nzType="primary" 
        [promiseBtn]="buttonLoader"
        (click)="submitFilter($event)">Filter</button>

</nz-button-group>
<!-- / SIDEBAR ACTION -->