<form>
    <div nz-row [nzGutter]="24" [formGroup]="formGroup" [@fadeInOnEnter]>
        <div *ngFor="let input of section.inputs" [hidden]="input.hidden"
             nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24"
             [nzLg]="(input.column_height=== '33')?'8':(input.column_height==='66')?'15':(input.column_height==='50')?'12':(input.column_height==='70')?'16':28"
             [nzXl]="(input.column_height=== '33')?'8':(input.column_height==='66')?'15':(input.column_height==='50')?'12':(input.column_height==='70')?'16':28"
             [nzXXl]="(input.column_height=== '33')?'8':(input.column_height==='66')?'15':(input.column_height==='50')?'12':(input.column_height==='70')?'16':28"
        >
            <!----------------------------------------------- text box-------------------------------------------------------->

            <nz-form-item formGroupName="{{input.input_name}}"
                          *ngIf="(input.input_type=='textbox'|| input.input_type=='email') && !input.hidden">

                <span fxLayout="row" fxLayoutAlign="start start">
                    <nz-form-label class="pr-8" style="float: top"
                                   [nzRequired]="input.input_mandatory">
                    </nz-form-label>
                    <span [innerHTML]="input.question | keepHtml"></span>
                </span>

                <nz-form-control nzHasFeedback>

                    <input nz-input formControlName="{{input.input_name}}" placeholder="{{input.input_placeholder}}"
                           type="text"/>

                    <ng-template let-control>
                        <ng-container *ngIf="control.hasError('required')">Please input first name
                        </ng-container>
                        <ng-container *ngIf="control.hasError('maxlength')">Can't be longer than 150
                            characters
                        </ng-container>
                    </ng-template>

                </nz-form-control>

            </nz-form-item>


            <!----------------------------------------------- richTextBox -------------------------------------------------------->

            <nz-form-item formGroupName="{{input.input_name}}"
                          *ngIf="(input.input_type=='richTextBox') && !input.hidden">
                <span [innerHTML]="input.question | keepHtml"></span>
            </nz-form-item>

            <!----------------------------------------------- hyperlink -------------------------------------------------------->

            <nz-form-item formGroupName="{{input.input_name}}"
                          *ngIf="(input.input_type=='hyperlink') && !input.hidden">
                <a (click)="gotoPage(input.types.hyperlink)">
                    <span [innerHTML]="input.question | keepHtml"></span>
                </a>
            </nz-form-item>

            <!----------------------------------------------- Signature -------------------------------------------------------->

            <nz-form-item formGroupName="{{input.input_name}}" *ngIf="(input.input_type=='signature') && !input.hidden">
                <nz-form-label [nzRequired]="input.input_mandatory">
                    <span [innerHTML]="input.question | keepHtml"></span>
                </nz-form-label>
                <nz-form-control nzHasFeedback class="signatureClass">
                    <signature-pad disabled="true" #signature
                                   [options]="{ 'minWidth': 0.7,'maxWidth':2.5, 'canvasWidth':(canvasWidth-50),'canvasHeight': ((canvasWidth-50)/6)}"
                    ></signature-pad>
                </nz-form-control>
                <button (click)="clearSignature(input.input_name)" type="button" nz-button nzType="dashed" nzBlock>Clear
                </button>
            </nz-form-item>


            <!----------------------------------------------- text-addAllergy box -------------------------------------------------------->

            <nz-card nz-col [nzMd]="24" [nzLg]="24"
                     *ngIf="input.input_type=='textboxArray' && !input.hidden && input.input_name=='addAllergy'">

                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24"
                     [nzXXl]="24" formArrayName="addAllergy" class="align">
                    <!--{{allergyArray.controls|json}}-->
                    <div *ngFor="let group of allergyArray.controls; let i = index;" [formGroupName]="i">
                        <div nz-row [nzGutter]="24" class="dynamic-align">

                            <div nz-col [nzMd]="24" [nzLg]="24">
                                <button nzType="danger" nz-button type="button" class="btns"
                                        (click)="removeAllergy(i)"><i
                                    class="trash alternate outline icon"></i></button>
                            </div>

                            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="12" [nzXl]="12"
                                 [nzXXl]="12">

                                <nz-form-label>Does your child have any allergies/dietary requirements?
                                </nz-form-label>

                                <nz-form-control>

                                    <nz-select formControlName="allergies" nzShowSearch nzAllowClear
                                               nzPlaceHolder="Select Allergies">

                                        <nz-option *ngFor="let items of allergiesList" nzValue="{{ items.index }}"
                                                   nzLabel="{{ items.name  }}" title="{{items.name }}">
                                        </nz-option>

                                    </nz-select>

                                </nz-form-control>

                            </div>

                            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="12" [nzXl]="12"
                                 [nzXXl]="12">

                                <nz-form-item>

                                    <nz-form-label>Details of allergies/dietary requirements</nz-form-label>

                                    <nz-form-control nzHasFeedback>

                                        <input nz-input formControlName="detailsOfAllergies"
                                               placeholder="Allergies/dietary requirements" type="text"/>

                                    </nz-form-control>

                                </nz-form-item>

                            </div>

                        </div>

                    </div>

                </div>

                <div nz-col [nzMd]="24" [nzLg]="24">
                    <button nzType="primary" nz-button type="button" (click)="addAllergy()">Add
                        Allergy/Special Dietary Needs<i class="plus icon mr-8" style="padding-left: 12px;"></i></button>
                </div>

            </nz-card>


            <!----------------------------------------------- radio group -------------------------------------------------------->

            <nz-form-item formGroupName="{{input.input_name}}"
                          *ngIf="input.input_type=='radio-group'&& !input.hidden">

                 <span fxLayout="row" fxLayoutAlign="start start">
                    <nz-form-label class="pr-8" style="float: top"
                                   [nzRequired]="input.input_mandatory">
                    </nz-form-label>
                    <span [innerHTML]="input.question | keepHtml"></span>
                </span>

                <nz-form-control nzHasFeedback>

                    <nz-radio-group formControlName="{{input.input_name}}"
                                    nzButtonStyle="solid"
                                    class="has-img">

                        <label *ngFor="let type of input.types" nz-radio-button
                               nzValue="{{type.value}}">
                            <!--                            <img class="mr-8" src="{{type.image}}"-->
                            <!--                                 alt="{{type.alt}}">-->
                            <span>{{type.name}}</span>
                        </label>
                    </nz-radio-group>

                </nz-form-control>

            </nz-form-item>

            <!----------------------------------------------- datepicker -------------------------------------------------------->

            <nz-form-item formGroupName="{{input.input_name}}"
                          *ngIf="input.input_type=='date-picker' && !input.hidden && input.input_name=='dateOfBirth' ">

                <span fxLayout="row" fxLayoutAlign="start start">
                    <nz-form-label class="pr-8" style="float: top"
                                   [nzRequired]="input.input_mandatory">
                    </nz-form-label>
                    <span [innerHTML]="input.question | keepHtml"></span>
                </span>

                <nz-form-control nzHasFeedback>

                    <nz-date-picker [nzDisabledDate]="disabledDate" formControlName="{{input.input_name}}"
                                    class="block"></nz-date-picker>

                </nz-form-control>

            </nz-form-item>
            <nz-form-item formGroupName="{{input.input_name}}"
                          *ngIf="input.input_type=='date-picker' && !input.hidden && input.input_name=='startDate' ">

                <span fxLayout="row" fxLayoutAlign="start start">
                    <nz-form-label class="pr-8" style="float: top"
                                   [nzRequired]="input.input_mandatory">
                    </nz-form-label>
                    <span [innerHTML]="input.question | keepHtml"></span>
                </span>

                <nz-form-control nzHasFeedback>

                    <nz-date-picker [nzDisabledDate]="disabledPastDates" formControlName="{{input.input_name}}"
                                    class="block"></nz-date-picker>

                </nz-form-control>

            </nz-form-item>
            <nz-form-item formGroupName="{{input.input_name}}"
                          *ngIf="input.input_type=='date-picker' && !input.hidden && input.input_name=='medicareExopiry' ">

                 <span fxLayout="row" fxLayoutAlign="start start">
                    <nz-form-label class="pr-8" style="float: top"
                                   [nzRequired]="input.input_mandatory">
                    </nz-form-label>
                    <span [innerHTML]="input.question | keepHtml"></span>
                </span>

                <nz-form-control nzHasFeedback>

                    <nz-date-picker [nzDisabledDate]="disabledPastDates" formControlName="{{input.input_name}}"
                                    class="block"></nz-date-picker>

                </nz-form-control>

            </nz-form-item>
            <nz-form-item formGroupName="{{input.input_name}}"
                          *ngIf="input.input_type=='date-picker' && !input.hidden && input.input_name=='parentdateOfBirth' ">

                 <span fxLayout="row" fxLayoutAlign="start start">
                    <nz-form-label class="pr-8" style="float: top"
                                   [nzRequired]="input.input_mandatory">
                    </nz-form-label>
                    <span [innerHTML]="input.question | keepHtml"></span>
                </span>
                <nz-form-control nzHasFeedback>

                    <nz-date-picker [nzDisabledDate]="disabledDate" formControlName="{{input.input_name}}"
                                    class="block"></nz-date-picker>

                </nz-form-control>

            </nz-form-item>
            <nz-form-item formGroupName="{{input.input_name}}"
                          *ngIf="input.input_type=='date-picker' && !input.hidden && input.input_name=='addtionaldateOfBirth' ">

                <span fxLayout="row" fxLayoutAlign="start start">
                    <nz-form-label class="pr-8" style="float: top"
                                   [nzRequired]="input.input_mandatory">
                    </nz-form-label>
                    <span [innerHTML]="input.question | keepHtml"></span>
                </span>

                <nz-form-control nzHasFeedback>

                    <nz-date-picker [nzDisabledDate]="disabledDate" formControlName="{{input.input_name}}"
                                    class="block"></nz-date-picker>

                </nz-form-control>

            </nz-form-item>
            <!--            date picker -  addable-->
            <nz-form-item formGroupName="{{input.input_name}}"
                          *ngIf="input.input_type=='date-picker' && !input.hidden && (input.input_name!='addtionaldateOfBirth' && input.input_name!='parentdateOfBirth'&& input.input_name!='medicareExopiry' && input.input_name!='startDate' && input.input_name!='dateOfBirth')  ">

              <span fxLayout="row" fxLayoutAlign="start start">
                    <nz-form-label class="pr-8" style="float: top"
                                   [nzRequired]="input.input_mandatory">
                    </nz-form-label>
                    <span [innerHTML]="input.question | keepHtml"></span>
                </span>

                <nz-form-control nzHasFeedback>

                    <nz-date-picker nzPlaceHolder="{{input.input_placeholder}}" formControlName="{{input.input_name}}"
                                    class="block"></nz-date-picker>

                </nz-form-control>

            </nz-form-item>
            <!----------------------------------------------- switch-------------------------------------------------------->
            <!--            <div>-->
            <nz-form-item fxLayout="column" fxLayoutAlign="space-around stretch" formGroupName="{{input.input_name}}"
                          *ngIf="input.input_type=='switch'&& !input.hidden">

                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <span fxLayout="row" fxLayoutAlign="start start">
                           <nz-form-label class="pr-8" style="float: top"
                                          [nzRequired]="input.input_mandatory">
                           </nz-form-label>
                        <span [innerHTML]="input.question | keepHtml"></span>
                    </span>
                    <span class="text-right" style="padding-left: 30px">
                        <nz-form-control class="text-right" style="padding-left: 30px">
                            <nz-switch
                                formControlName="{{input.input_name}}" nzCheckedChildren="Yes"
                                nzUnCheckedChildren="No">
                            </nz-switch>
                        </nz-form-control>
                    </span>
                </div>

            </nz-form-item>
            <!--        </div>-->

            <!----------------------------------------------- upload switch -------------------------------------------------------->


            <nz-card
                nz-col
                [nzMd]="24"
                [nzLg]="24"
                *ngIf="!input.hidden && 'courtAppointed'==input.input_name"
                formGroupName="{{input.input_name}}">

                <div nz-row nzJustify="space-between" nzAlign="middle">
                   <span fxLayout="row" fxLayoutAlign="start start">
                    <nz-form-label class="pr-8" style="float: top"
                                   [nzRequired]="input.input_mandatory">
                    </nz-form-label>
                    <span [innerHTML]="input.question | keepHtml"></span>
                </span>

                    <nz-switch class="upload-switch" nzCheckedChildren="Yes" formControlName="{{input.input_name}}"
                               nzUnCheckedChildren="No" (ngModelChange)="onUploadCourtOrders($event)">
                    </nz-switch>
                </div>
                <!--                [nzName]="court_orders_upload"-->
                <nz-form-control fxLayout="column" fxLayoutAlign="space-around stretch" nzHasFeedback>
                    <nz-upload nzAction="''" *ngIf="uploadCourtOrdersChecked">
                        <button nz-button nz-tooltip="Please add a copy of your child's court orders">
                            <i nz-icon
                               nzType="upload"></i><span>Upload</span>
                        </button>
                    </nz-upload>
                </nz-form-control>
            </nz-card>

            <!----------------------------------------------- upload header new -------------------------------------------------------->

            <div
                *ngIf="!input.hidden && input.input_type=='upload-switch' && input.status=='new'"
                class="fuse-widget-front mat-elevation-z2">
                <div class="pl-16 pr-8 py-20" fxLayout="row" fxLayoutAlign="space-between center">
                                 <span fxLayout="row" fxLayoutAlign="start start">
                                    <nz-form-label class="pr-8" style="float: top"
                                                   [nzRequired]="input.input_mandatory">
                                    </nz-form-label>
                                    <span [innerHTML]="input.question | keepHtml"></span>
                                </span>
                    <span>
                                        <nz-form-control nzHasFeedback>
                                            <nz-switch [nzDisabled]="true"
                                                       nzCheckedChildren="Yes"
                                                       nzUnCheckedChildren="No"
                                            >
                                            </nz-switch>
                                        </nz-form-control>
                                </span>
                </div>
            </div>

            <!----------------------------------------------- upload header-------------------------------------------------------->

            <nz-form-item nz-col [nzMd]="24" [nzLg]="24"
                          *ngIf=" !input.hidden && 'healthRecord'==input.input_name">
                <nz-form-label [nzRequired]="input.input_mandatory">
                    If you answer as ‘Yes’ to any of the below questions, please upload relevant documentation.
                </nz-form-label>
            </nz-form-item>

            <!----------------------------------------------- upload switch -------------------------------------------------------->

            <nz-form-item nz-col [nzMd]="24" [nzLg]="14"
                     *ngIf="  !input.hidden && 'healthRecord'==input.input_name"
                     formGroupName="{{input.input_name}}">
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <span fxLayout="row" fxLayoutAlign="start start">
                                   <nz-form-label class="pr-8" style="float: top"
                                                  [nzRequired]="input.input_mandatory">
                                    </nz-form-label>
                        <span [innerHTML]="input.question | keepHtml"></span>
                    </span>
                    <nz-switch
                        formControlName="{{input.input_name}}"
                        nzCheckedChildren="Yes"
                        nzUnCheckedChildren="No"
                        [nzDisabled]="true"
                    >
                    </nz-switch>
                </div>
            </nz-form-item>

            <!----------------------------------------------- upload switch -------------------------------------------------------->


            <nz-form-item nz-col [nzMd]="24" [nzLg]="14"
                     *ngIf="  !input.hidden && 'childImmunised'==input.input_name"
                     formGroupName="{{input.input_name}}">
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <span fxLayout="row" fxLayoutAlign="start start">
                                   <nz-form-label class="pr-8" style="float: top"
                                                  [nzRequired]="input.input_mandatory">
                                    </nz-form-label>
                        <span [innerHTML]="input.question | keepHtml"></span>
                    </span>
                    <nz-switch
                        formControlName="{{input.input_name}}"
                        nzCheckedChildren="Yes"
                        nzUnCheckedChildren="No"
                        [nzDisabled]="true">
                    </nz-switch>
                </div>
            </nz-form-item>

            <!----------------------------------------------- upload switch -------------------------------------------------------->


            <nz-form-item nz-col [nzMd]="24" [nzLg]="14"
                     *ngIf="  !input.hidden && 'prescribedMedicine'==input.input_name"
                     formGroupName="{{input.input_name}}">
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <span fxLayout="row" fxLayoutAlign="start start">
                                   <nz-form-label class="pr-8" style="float: top"
                                                  [nzRequired]="input.input_mandatory">
                                    </nz-form-label>
                        <span [innerHTML]="input.question | keepHtml"></span>
                    </span>
                    <nz-switch
                        formControlName="{{input.input_name}}"
                        nzCheckedChildren="Yes"
                        nzUnCheckedChildren="No"
                        [nzDisabled]="true">
                    </nz-switch>
                </div>
            </nz-form-item>

            <!----------------------------------------------- upload switch -------------------------------------------------------->


            <nz-form-item nz-col [nzMd]="24" [nzLg]="14"
                     *ngIf="  !input.hidden && 'anaphylaxis'==input.input_name"
                     formGroupName="{{input.input_name}}">
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <span fxLayout="row" fxLayoutAlign="start start">
                                   <nz-form-label class="pr-8" style="float: top"
                                                  [nzRequired]="input.input_mandatory">
                                    </nz-form-label>
                        <span [innerHTML]="input.question | keepHtml"></span>
                    </span>
                    <nz-switch
                        formControlName="{{input.input_name}}"
                        nzCheckedChildren="Yes"
                        nzUnCheckedChildren="No"
                        [nzDisabled]="true">
                    </nz-switch>
                </div>
            </nz-form-item>

            <!----------------------------------------------- upload switch -------------------------------------------------------->


            <nz-form-item nz-col [nzMd]="24" [nzLg]="14"
                     *ngIf="  !input.hidden && 'epipenOrAnipen'==input.input_name"
                     formGroupName="{{input.input_name}}">
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <span fxLayout="row" fxLayoutAlign="start start">
                                   <nz-form-label class="pr-8" style="float: top"
                                                  [nzRequired]="input.input_mandatory">
                                    </nz-form-label>
                        <span [innerHTML]="input.question | keepHtml"></span>
                    </span>
                    <nz-switch
                        formControlName="{{input.input_name}}"
                        nzCheckedChildren="Yes"
                        nzUnCheckedChildren="No"
                        [nzDisabled]="true">
                    </nz-switch>
                </div>

            </nz-form-item>

            <!----------------------------------------------- upload switch -------------------------------------------------------->


            <nz-form-item nz-col [nzMd]="24" [nzLg]="14"
                     *ngIf="  !input.hidden && 'healthConditions'==input.input_name"
                     formGroupName="{{input.input_name}}">
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <span fxLayout="row" fxLayoutAlign="start start">
                                   <nz-form-label class="pr-8" style="float: top"
                                                  [nzRequired]="input.input_mandatory">
                                    </nz-form-label>
                        <span [innerHTML]="input.question | keepHtml"></span>
                    </span>
                    <nz-switch
                        formControlName="{{input.input_name}}"
                        nzCheckedChildren="Yes"
                        nzUnCheckedChildren="No"
                        [nzDisabled]="true">
                    </nz-switch>
                </div>
            </nz-form-item>

            <!----------------------------------------------- upload switch -------------------------------------------------------->


            <nz-form-item nz-col [nzMd]="24" [nzLg]="14"
                     *ngIf="  !input.hidden && 'asthma'==input.input_name"
                     formGroupName="{{input.input_name}}">
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <span fxLayout="row" fxLayoutAlign="start start">
                                   <nz-form-label class="pr-8" style="float: top"
                                                  [nzRequired]="input.input_mandatory">
                                    </nz-form-label>
                        <span [innerHTML]="input.question | keepHtml"></span>
                    </span>
                    <nz-switch
                        formControlName="{{input.input_name}}"
                        nzCheckedChildren="Yes"
                        nzUnCheckedChildren="No"
                        [nzDisabled]="true">
                    </nz-switch>
                </div>
            </nz-form-item>

            <!----------------------------------------------- upload switch -------------------------------------------------------->


            <nz-form-item nz-col [nzMd]="24" [nzLg]="14"
                     *ngIf="  !input.hidden && 'birthCertificate'==input.input_name"
                     formGroupName="{{input.input_name}}">
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <span fxLayout="row" fxLayoutAlign="start start">
                                   <nz-form-label class="pr-8" style="float: top"
                                                  [nzRequired]="input.input_mandatory">
                                    </nz-form-label>
                        <span [innerHTML]="input.question | keepHtml"></span>
                    </span>
                    <nz-switch
                        formControlName="{{input.input_name}}"
                        nzCheckedChildren="Yes"
                        nzUnCheckedChildren="No"
                        [nzDisabled]="true">
                    </nz-switch>
                </div>
            </nz-form-item>

            <!----------------------------------------------- textbox switch -------------------------------------------------------->

            <nz-form-item fxLayout="column" fxLayoutAlign="space-around stretch" formGroupName="{{input.input_name}}"
                          *ngIf="input.input_type=='textbox-switch'&& input.input_name=='culturalRequirements'">

                 <span fxLayout="row" fxLayoutAlign="start start">
                    <nz-form-label class="pr-8" style="float: top"
                                   [nzRequired]="input.input_mandatory">
                    </nz-form-label>
                    <span [innerHTML]="input.question | keepHtml"></span>
                </span>

                <nz-form-control fxLayout="column" fxLayoutAlign="space-around stretch" nzHasFeedback>
                    <nz-form-item>
                        <nz-switch (ngModelChange)="onCulturalRequirement($event)"
                                   formControlName="{{input.input_name}}" nzCheckedChildren="Yes"
                                   nzUnCheckedChildren="No">
                        </nz-switch>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-item *ngFor="let inp of input.types.inputs" formGroupName="types">
                            <input *ngIf="culturalrequirementschecked" nz-input
                                   formControlName="{{inp.input_name}}" placeholder="{{inp.placeholder}}"
                                   type="text"/>
                        </nz-form-item>
                    </nz-form-item>
                </nz-form-control>

            </nz-form-item>

            <!----------------------------------------------- select switch -------------------------------------------------------->

            <nz-form-item fxLayout="column" fxLayoutAlign="space-around stretch" formGroupName="{{input.input_name}}"
                          *ngIf="input.input_type=='textbox-switch'&& input.input_name=='religiousRequirements'">

                 <span fxLayout="row" fxLayoutAlign="start start">
                    <nz-form-label class="pr-8" style="float: top"
                                   [nzRequired]="input.input_mandatory">
                    </nz-form-label>
                    <span [innerHTML]="input.question | keepHtml"></span>
                </span>

                <nz-form-control fxLayout="column" fxLayoutAlign="space-around stretch" nzHasFeedback>
                    <nz-form-item>
                        <nz-switch (ngModelChange)="onReligiousRequirementsChange($event)"
                                   formControlName="{{input.input_name}}" nzCheckedChildren="Yes"
                                   nzUnCheckedChildren="No">
                        </nz-switch>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-item *ngFor="let inp of input.types.inputs" formGroupName="types">
                            <input *ngIf="religiousrequirementschecked" nz-input
                                   formControlName="{{inp.input_name}}" placeholder="{{inp.placeholder}}"
                                   type="text"/>
                        </nz-form-item>
                    </nz-form-item>
                </nz-form-control>

            </nz-form-item>

            <!----------------------------------------------- text-area-------------------------------------------------------->

            <nz-form-item formGroupName="{{input.input_name}}"
                          *ngIf="input.input_type=='text-area'&& !input.hidden">

                 <span fxLayout="row" fxLayoutAlign="start start">
                    <nz-form-label class="pr-8" style="float: top"
                                   [nzRequired]="input.input_mandatory">
                    </nz-form-label>
                    <span [innerHTML]="input.question | keepHtml"></span>
                </span>

                <nz-form-control nzHasFeedback>

                                                              <textarea formControlName="{{input.input_name}}" nz-input
                                                                        rows="4"
                                                                        placeholder="{{input.input_placeholder}}"></textarea>

                </nz-form-control>

            </nz-form-item>

            <!----------------------------------------------- select-------------------------------------------------------->

            <nz-form-item formGroupName="{{input.input_name}}"
                          *ngIf="input.input_type=='select'&& !input.hidden && input.input_name !== 'parentCountry'&& input.input_name !== 'additionalCarerCountry'">

                <span fxLayout="row" fxLayoutAlign="start start">
                    <nz-form-label class="pr-8" style="float: top"
                                   [nzRequired]="input.input_mandatory">
                    </nz-form-label>
                    <span [innerHTML]="input.question | keepHtml"></span>
                </span>

                <nz-form-control nzHasFeedback>
                    <nz-select nzPlaceHolder="Please Select"
                               nzAllowClear
                               formControlName="{{input.input_name}}" nzShowSearch style="height: 48px;">
                        <nz-option *ngFor="let item of input.types.options" nzValue="{{ item }}"
                                   nzLabel="{{ item }}" title="{{item}}">
                        </nz-option>
                    </nz-select>
                </nz-form-control>

            </nz-form-item>
            <!----------------------------------------------- select-multiple -------------------------------------------------------->

            <nz-form-item formGroupName="{{input.input_name}}"
                          *ngIf="input.input_type=='select-multiple' && input.input_name!=='emenrgencyType'">

                <span fxLayout="row" fxLayoutAlign="start start">
                    <nz-form-label class="pr-8" style="float: top"
                                   [nzRequired]="input.input_mandatory">
                    </nz-form-label>
                    <span [innerHTML]="input.question | keepHtml"></span>
                </span>

                <nz-form-control nzHasFeedback>
                    <nz-select *ngIf="input.types?.multiple===false || input.types?.multiple===undefined"
                               formControlName="{{input.input_name}}"
                               nzPlaceHolder="Please Select" nzShowSearch nzAllowClear>

                        <nz-option *ngFor="let item of input.types.options" nzValue="{{ item }}"
                                   nzLabel="{{ item }}" title="{{item}}">
                        </nz-option>

                    </nz-select>

                    <nz-select *ngIf="input.types?.multiple"
                               nzMode="multiple"
                               [nzMaxTagCount]="3"
                               [nzMaxTagPlaceholder]="tagPlaceHolder"
                               nzPlaceHolder="{{input.input_placeholder}}" nzAllowClear
                               formControlName="{{input.input_name}}"
                               nzShowSearch
                               style="height: 48px;">

                        <nz-option *ngFor="let items of  input.types.options" [nzValue]="items"
                                   [nzLabel]="items" title="{{items}}">
                        </nz-option>

                    </nz-select>
                    <ng-template *ngIf="input.types?.multiple" #tagPlaceHolder let-selectedList>
                        and {{ selectedList.length }} more selected
                    </ng-template>
                </nz-form-control>

            </nz-form-item>
            <!----------------------------------------------- select country-------------------------------------------------------->

            <nz-form-item formGroupName="{{input.input_name}}"
                          *ngIf="input.input_type=='select'&& !input.hidden && (input.input_name == 'parentCountry' || input.input_name == 'additionalCarerCountry')">

                 <span fxLayout="row" fxLayoutAlign="start start">
                    <nz-form-label class="pr-8" style="float: top"
                                   [nzRequired]="input.input_mandatory">
                    </nz-form-label>
                    <span [innerHTML]="input.question | keepHtml"></span>
                </span>

                <nz-form-control nzHasFeedback>
                    <nz-select formControlName="{{input.input_name}}"
                               nzPlaceHolder="{{input.input_placeholder}}" nzShowSearch nzAllowClear>

                        <nz-option *ngFor="let item of countriesList" nzValue="{{ item.code }}"
                                   nzLabel="{{ item.name }}" title="{{item.name}}">
                        </nz-option>

                    </nz-select>

                </nz-form-control>

            </nz-form-item>

            <!-- ========================================================== select- multiselect ----------------------------------------------->

            <nz-form-item formGroupName="{{input.input_name}}"
                          *ngIf="input.input_type=='select-multiple' && input.input_name=='emenrgencyType'">

                 <span fxLayout="row" fxLayoutAlign="start start">
                    <nz-form-label class="pr-8" style="float: top"
                                   [nzRequired]="input.input_mandatory">
                    </nz-form-label>
                    <span [innerHTML]="input.question | keepHtml"></span>
                </span>

                <nz-form-control nzHasFeedback>
                    <nz-select nzMode="multiple" nzPlaceHolder="Please Select"
                               nzAllowClear
                               formControlName="{{input.input_name}}" nzShowSearch
                               style="height: 48px;">

                        <nz-option *ngFor="let item of emergency" nzValue="{{ item }}"
                                   nzLabel="{{ item }}" title="{{item}}">
                        </nz-option>

                    </nz-select>
                </nz-form-control>

            </nz-form-item>

            <!-- ========================================================== select- checkbox ----------------------------------------------->


            <nz-form-item *ngIf="input.input_type=='select-checkbox'&& input.input_name=='preferedDate'" nz-col
                          [nzMd]="24" [nzLg]="24">

                <nz-form-label [nzRequired]="input.input_mandatory">What are your preferred days of enrolment?
                </nz-form-label>

            </nz-form-item>


            <div *ngIf="input.input_type=='select-checkbox'&& input.input_name=='preferedDate'" nz-col [nzMd]="24"
                 [nzLg]="24" formArrayName="{{input.input_name}}" class="align">
                <div *ngFor="let group of bookingArray.controls; let i = index;" [formGroupName]="i">

                    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="12" [nzXl]="12" [nzXXl]="12">

                        <nz-form-item>

                            <nz-form-control>

                                <nz-select formControlName="mornings" nzShowSearch nzAllowClear
                                           nzPlaceHolder="Select One">

                                    <nz-option *ngFor="let items of time" nzValue="{{ items }}"
                                               nzLabel="{{ items }}" title="{{items}}">
                                    </nz-option>

                                </nz-select>
                            </nz-form-control>

                        </nz-form-item>

                    </div>

                    <div nz-col [nzMd]="24" [nzLg]="24">

                        <nz-form-item>

                            <nz-form-control>
                                <label nz-checkbox formControlName="monday">
                                    <span>Monday</span>
                                </label>
                                <label nz-checkbox formControlName="tuesday">
                                    <span>Tuesday</span>
                                </label>
                                <label nz-checkbox formControlName="wednesday">
                                    <span>Wednesday</span>
                                </label>
                                <label nz-checkbox formControlName="thursday">
                                    <span>Thursday</span>
                                </label>
                                <label nz-checkbox formControlName="friday">
                                    <span>Friday</span>
                                </label>
                                <label nz-checkbox>
                                    <span>I am fully flexible on days</span>
                                </label>
                            </nz-form-control>

                        </nz-form-item>

                    </div>
                </div>
            </div>
            <nz-form-item *ngIf="input.input_type=='select-checkbox'&& input.input_name=='preferedDate'" nz-col
                          [nzXs]="24"
                          [nzSm]="24" [nzMd]="24" [nzLg]="12" [nzXl]="12" [nzXXl]="12">

                <button nz-button nzType="primary" [nzBlock]="true" (click)="addBooking()" type="button">
                    Add another booking
                </button>

            </nz-form-item>

            <!------------------------------------------------- checkbox ------------------------------------------------------------>
            <div formGroupName="{{input.input_name}}" nz-col [nzMd]="24" [nzLg]="24"
                 *ngIf="input.input_type=='checkbox'">
                <!--multiple-->
                <label *ngIf="input.types?.multiple">
                    <span>
                       <span [innerHTML]="input.question | keepHtml"></span>
                    </span>
                </label>
                <nz-checkbox-wrapper *ngIf="input.types?.multiple"
                                     style="width: 100%;">
                    <div nz-row>
                        <div nz-col nzSpan="24" *ngFor="let option of input.types.options">
                            <label nz-checkbox nzMode="multiple"
                                   nzValue="{{option}}">{{option}}</label>
                        </div>
                    </div>
                </nz-checkbox-wrapper>
                <!--normal-->
                <label *ngIf="input.types?.multiple===false || input.types?.multiple===undefined" nz-checkbox
                       formControlName="{{input.input_name}}">
                </label>
                <span class="checkboxLabel"
                      *ngIf="input.types?.multiple===false || input.types?.multiple===undefined">
                     <span [innerHTML]="input.question | keepHtml"></span>
                </span>
            </div>

            <!----------------------------------------------- text-addAllergy box -------------------------------------------------------->


            <div nz-col [nzMd]="24" [nzLg]="24" formArrayName="addEmergencyContact" class="align"
                 *ngIf="input.input_type=='textboxArray' && !input.hidden && input.input_name=='addEmergencyContact'">
                <div *ngFor="let group of emergencyContactsArray.controls; let i = index;" [formGroupName]="i">

                    <div class="subtitle" nz-col [nzMd]="24" [nzLg]="24">Emergency Contact Details {{i + 2}}

                        <button *ngIf="(i != 0)" nzType="danger" nz-button type="button" class="btns"
                                (click)="removeEmergencyContact(i)"><i
                            class="trash alternate outline icon"></i></button>

                    </div>

                    <div nz-row [nzGutter]="24" class="dynamic-align">

                        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="8" [nzXl]="8" [nzXXl]="8">

                            <nz-form-item>

                                <nz-form-label nzRequired>First Name</nz-form-label>

                                <input nz-input formControlName="ec_firstname" placeholder="First Name"
                                       type="text"/>

                            </nz-form-item>

                        </div>

                        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="8" [nzXl]="8" [nzXXl]="8">

                            <nz-form-item>

                                <nz-form-label nzRequired>Last Name</nz-form-label>

                                <nz-form-control nzHasFeedback>

                                    <input nz-input formControlName="ec_lastname" placeholder="Last Name"
                                           type="text"/>

                                </nz-form-control>

                            </nz-form-item>

                        </div>

                        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="8" [nzXl]="8" [nzXXl]="8">

                            <nz-form-item>

                                <nz-form-label nzRequired>Mobile</nz-form-label>

                                <nz-form-control nzHasFeedback>

                                    <input nz-input formControlName="ec_phone" placeholder="Phone" maxlength="10"
                                           type="text"/>

                                </nz-form-control>

                            </nz-form-item>

                        </div>

                        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="16" [nzXl]="16" [nzXXl]="16">

                            <nz-form-item>

                                <nz-form-label>Home Address</nz-form-label>

                                <input nz-input formControlName="ec_address" placeholder="Home Address"
                                       type="text"/>

                            </nz-form-item>

                        </div>

                        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="8" [nzXl]="8" [nzXXl]="8">

                            <nz-form-item>

                                <nz-form-label>Email</nz-form-label>

                                <nz-form-control nzHasFeedback>
                                    <nz-form-control nzHasFeedback>
                                        <input nz-input formControlName="ec_email" placeholder="Email"
                                               type="email"/>
                                    </nz-form-control>
                                </nz-form-control>

                            </nz-form-item>

                        </div>

                        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="8" [nzXl]="8" [nzXXl]="8">

                            <nz-form-item>

                                <nz-form-label>Relationship</nz-form-label>

                                <input nz-input formControlName="ec_relationship" placeholder="Relationship"
                                       type="text"/>

                            </nz-form-item>

                        </div>

                        <div nz-col [nzMd]="24" [nzLg]="16" [hidden]="true">

                            <nz-form-item>

                                <nz-form-label nzRequired>Type</nz-form-label>

                                <nz-form-control nzHasFeedback>

                                    <nz-select nzMode="multiple" nzPlaceHolder="Select users" nzAllowClear
                                               formControlName="emergencyType" nzShowSearch nzPlaceHolder="Select"
                                               style="height: 48px;">

                                        <nz-option *ngFor="let items of emergency" nzValue="{{ items }}"
                                                   nzLabel="{{ items }}" title="{{items}}">
                                        </nz-option>

                                    </nz-select>
                                </nz-form-control>

                            </nz-form-item>

                        </div>

                        <div nz-col [nzMd]="24" [nzLg]="24"></div>

                        <div nz-col [nzMd]="24" [nzLg]="24">

                            <label nz-checkbox formControlName="ec_consent_emergency_contact">
                                <span>I consent for this person to be an emergency contact.</span>
                            </label>

                        </div>

                        <div nz-col [nzMd]="24" [nzLg]="24">

                            <label nz-checkbox formControlName="ec_consent_collect_child">
                                        <span>I consent for this person to be an authorised nominee to collect this
                                            child.</span>
                            </label>

                        </div>

                        <div nz-col [nzMd]="24" [nzLg]="24">

                            <label nz-checkbox formControlName="ec_consent_make_medical_decision">
                                        <span>I consent for this person to be an authorised nominee to make medical
                                            decisions on
                                            behalf of this
                                            child.</span>
                            </label>

                        </div>

                        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24"
                             style="padding-bottom: 18px;">

                            <label nz-checkbox formControlName="ec_consent_incursion">
                                        <span>I consent for this person to be an authorised nominee for this child's
                                            incursions and
                                            excursions.</span>
                            </label>

                        </div>

                    </div>

                </div>
            </div>

            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24"
                 *ngIf="input.input_type=='textboxArray' && input.input_name=='addEmergencyContact'">
                <button class="add-btn" nzType="primary" nz-button type="button"
                        (click)="addEmergencyContact()">Add Emergency
                    Contact
                    <i class="plus icon mr-8" style="padding-left: 12px;"></i></button>
            </div>

        </div>


    </div>
    <form>


        <!--        <app-input-add class="new-list-wrapper" (selectedEvent)="receiveSelected($event)">-->
        <!--            &lt;!&ndash;                       [@animate]="{value:'*',params:{duration:'350ms',x:'100%'}}">&ndash;&gt;-->
        <!--        </app-input-add>-->


        <!--<app-section-add class="new-list-wrapper" (addSection)="addSection($event)">-->
        <!--    &lt;!&ndash;                 [@animate]="{value:'*',params:{duration:'350ms',x:'100%'}}">&ndash;&gt;-->
        <!--</app-section-add>-->
