
.panel-title {
    background-color: #eaeaea;
}

.upload-switchTest {
    float: right;
}

.signatureClass {
    background-color: #F3F3F3;
    border: 1px solid #000;
}

p {
    text-align: justify;
    text-justify: inter-word;
}

.checkboxLabel {
    padding-left: 5px;
    text-align: justify;
    text-justify: inter-word;
}