@import "src/@fuse/scss/fuse";
@import "src/@fuse/scss/variables";

batch-update-attendance-sidenav {
    display: flex;
    flex-direction: column;
    flex: 1;
    background: #fff;
    overflow: hidden;
    
    .child-list-img {
        background: #fff;
        border: 4px solid $ant-border-color;
        box-shadow: $custom-box-shadow-high;
    }
}