@import "src/@fuse/scss/fuse";
@import "src/@fuse/scss/variables";

child-booking-view-history {

    .note {
        color: rgba(34, 34, 34, 0.4);
        margin-left: 4px;
    }
    
    table {
        a {
            color: inherit;
            text-decoration: none;

            &:hover {
                color: inherit;
                opacity: 0.8;
            }
        }
    }
}