<div class="dialog-content-wrapper">

    <mat-toolbar class="mat-accent m-0">

        <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">

            <span class="title dialog-title">{{diialogTite}}</span>

            <button mat-icon-button disableRipple="true" type="button" (click)="matDialogRef.close()"
                aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>

        </mat-toolbar-row>

    </mat-toolbar>

    <form name="branchForm" class="compose-form" fxLayout="column" fxFlex [nzLayout]="'vertical'"
        [formGroup]="personalForm" nz-form (ngSubmit)="onFormSubmit($event)">

        <div mat-dialog-content class="p-24 pt-16 m-0" fusePerfectScrollbar
            [fusePerfectScrollbarOptions]="{ suppressScrollX: true }">

            <div nz-row [nzGutter]="24">

                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
                    <nz-form-item>

                        <nz-form-label nzRequired>Provider</nz-form-label>
    
                        <nz-form-control nzHasFeedback [nzErrorTip]="providerErrorTpl">
    
                            <nz-select formControlName="provider" nzShowSearch nzAllowClear
                                nzPlaceHolder="select a provider">
    
                                <nz-option *ngFor="let item of providers; trackBy: trackByFn;"
                                    nzValue="{{ item.providerId}}" nzLabel="{{ item.buisnessName }}">
                                </nz-option>
    
                            </nz-select>
    
                            <ng-template #providerErrorTpl let-control>
                                <ng-container *ngIf="control.hasError('required')">Please select your provider
                                </ng-container>
                            </ng-template>
    
                        </nz-form-control>
    
                    </nz-form-item>
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
                    <nz-form-item>

                        <nz-form-label nzRequired>Services</nz-form-label>

                        <nz-form-control nzHasFeedback [nzErrorTip]="serviceErrorTpl">

                            <nz-select formControlName="service" nzShowSearch nzAllowClear nzPlaceHolder="select a service"
                                [nzDisabled]="selectedServices.length < 1">

                                <nz-option *ngFor="let item of selectedServices; trackBy: trackByFn;"
                                    nzValue="{{ item.serviceid}}" nzLabel="{{ item.servicename }}"></nz-option>

                            </nz-select>

                            <ng-template #serviceErrorTpl let-control>
                                <ng-container *ngIf="control.hasError('required')">Please select your service</ng-container>
                            </ng-template>

                        </nz-form-control>

                    </nz-form-item>
                </div>
                <!-- <h3>
                    Personnel Details
                </h3> -->
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
                    <nz-form-item >

                        <nz-form-label>Select Branch</nz-form-label>

                        <nz-form-control nzHasFeedback>

                            <nz-select formControlName="branch" nzShowSearch nzAllowClear nzPlaceHolder="select a branch">

                                <nz-option *ngFor="let item of services; trackBy: trackByFn;" nzValue="{{ item.id }}"
                                    nzLabel="{{ item.name }}">
                                </nz-option>

                            </nz-select>

                        </nz-form-control>

                    </nz-form-item>
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
                    <nz-form-item>

                        <nz-form-label nzRequired>Assign To user</nz-form-label>

                        <nz-form-control nzHasFeedback>

                            <nz-select formControlName="assignUser" nzShowSearch nzAllowClear nzPlaceHolder="select a user">

                                <nz-option *ngFor="let item of selectedUsers; trackBy: trackByFn;" nzValue="{{ item.id }}"
                                    nzLabel="{{ item.getFullName() }} - {{item.branch.name || item.org.name}}"
                                    [nzDisabled]="selectedUsers.length < 1"></nz-option>

                            </nz-select>

                        </nz-form-control>

                    </nz-form-item>
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
                    <nz-form-item>

                        <nz-form-label nzRequired>Identification</nz-form-label>

                        <nz-form-control [nzErrorTip]="identyErrorTpl">
                            <nz-radio-group formControlName="identy" nzButtonStyle="solid" class="has-img">

                                <label nz-radio-button nzValue="0">
                                    <!-- <img class="mr-8" src="assets/icons/flat/ui_set/custom_icons/user-profiles.svg"
                                        alt="identy icon"> -->
                                    <span>PRODA RA</span>
                                </label>

                                <span
                                    tooltip="If the educator has already used PRODA RA number by applying it to another service, then use Person ID number."
                                    display-mobile="false" hide-delay="50" style="margin-left: 15px;">
                                    <label nz-radio-button nzValue="1">

                                        <!-- <img class="mr-8" src="assets/icons/flat/ui_set/custom_icons/user-profiles.svg"
                                            alt="identy icon"> -->
                                        <span>Existing User</span>
                                    </label>
                                </span>

                            </nz-radio-group>
                            <ng-template #identyErrorTpl let-control>
                                <ng-container *ngIf="control.hasError('required')">Please select the identy</ng-container>
                            </ng-template>

                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="12" [nzXl]="12" [nzXXl]="12" *ngIf="showPRODA">
                    <nz-form-item>
                        <nz-form-label nzRequired>PRODA RA</nz-form-label>
                        <nz-form-control nzHasFeedback [nzErrorTip]="prodaErrorTpl">

                            <input nz-input formControlName="prodaId" placeholder="PRODA RA" type="text" />

                            <ng-template #prodaErrorTpl let-control>
                                <ng-container *ngIf="control.hasError('required')">Please input your PRODA RA
                                </ng-container>

                            </ng-template>

                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="12" [nzXl]="12" [nzXXl]="12" *ngIf="!showPRODA">
                    <nz-form-item>
                        <nz-form-label nzRequired>Person ID</nz-form-label>
                        <nz-form-control nzHasFeedback [nzErrorTip]="idErrorTpl">

                            <input nz-input formControlName="personId" placeholder="Person ID" type="text" />

                            <ng-template #idErrorTpl let-control>
                                <ng-container *ngIf="control.hasError('required')">Please input your person id
                                </ng-container>

                            </ng-template>

                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="12" [nzXl]="12" [nzXXl]="12" >
                    <nz-form-item>

                        <nz-form-label nzRequired>First Name</nz-form-label>

                        <nz-form-control nzHasFeedback [nzErrorTip]="fnameErrorTpl">

                            <input nz-input formControlName="fName" placeholder="first name" type="text" />

                            <ng-template #fnameErrorTpl let-control>
                                <ng-container *ngIf="control.hasError('required')">Please input your first name
                                </ng-container>

                            </ng-template>

                        </nz-form-control>

                    </nz-form-item>
                </div>

                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="12" [nzXl]="12" [nzXXl]="12" >
                    <nz-form-item>

                        <nz-form-label nzRequired>Last Name</nz-form-label>

                        <nz-form-control nzHasFeedback [nzErrorTip]="lnameErrorTpl">

                            <input nz-input formControlName="lName" placeholder="last name" type="text" />

                            <ng-template #lnameErrorTpl let-control>
                                <ng-container *ngIf="control.hasError('required')">Please input your last name
                                </ng-container>
                            </ng-template>

                        </nz-form-control>

                    </nz-form-item>
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="12" [nzXl]="12" [nzXXl]="12" >
                    <nz-form-item>

                        <nz-form-label nzRequired>Date of birth</nz-form-label>

                        <nz-form-control nzHasFeedback [nzErrorTip]="dobErrorTpl">

                            <nz-date-picker [nzInputReadOnly]="true" [nzDisabledDate]="disabledDate" formControlName="dob"
                                nzPlaceHolder="date of birth" class="block"></nz-date-picker>

                            <ng-template #dobErrorTpl let-control>
                                <ng-container *ngIf="control.hasError('required')">Please input date of birth</ng-container>
                            </ng-template>

                        </nz-form-control>

                    </nz-form-item>
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="12" [nzXl]="12" [nzXXl]="12" >
                    <nz-form-item>

                        <nz-form-label>Phone</nz-form-label>

                        <nz-form-control nzHasFeedback [nzErrorTip]="phoneErrorTpl">

                            <input nz-input formControlName="phone" placeholder="phone" type="text" />

                            <ng-template #phoneErrorTpl let-control>
                                <ng-container *ngIf="control.hasError('required')">Please input your phone number
                                </ng-container>
                            </ng-template>

                        </nz-form-control>

                    </nz-form-item>
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="12" [nzXl]="12" [nzXXl]="12" >
                    <nz-form-item>

                        <nz-form-label nzRequired>Email</nz-form-label>

                        <nz-form-control nzHasFeedback [nzErrorTip]="emailErrorTpl">

                            <input nz-input formControlName="email" placeholder="email" type="email" />

                            <ng-template #emailErrorTpl let-control>
                                <ng-container *ngIf="control.hasError('required')">Please input your email</ng-container>
                                <ng-container *ngIf="control.hasError('email')">Please enter a valid email address
                                </ng-container>
                                <ng-container *ngIf="control.hasError('exists')">Email already exists</ng-container>
                            </ng-template>

                        </nz-form-control>

                    </nz-form-item>
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="12" [nzXl]="12" [nzXXl]="12" ></div>
                <h3>
                    Personnel Declaration
                </h3>
                <div nz-col [nzMd]="24" [nzLg]="24">
                    <!-- declaration -->
                    <nz-table class="mt-4" #declarationData [nzData]="declaration" [nzShowPagination]="false"
                        [nzSize]="'small'" formArrayName="declaration">
                        <tbody>
                            <tr *ngFor="let item of declarationData.data; trackBy: trackByFn;">
                                <td class="ant-table-selection-column">
                                    <nz-form-label class="f-left"> {{item.name}}
                                        <span class="help-text" tooltip="{{item.help}}" display-mobile="false"
                                            hide-delay="50">
                                            <img class="mr-8" src="assets/icons/flat/ui_set/custom_icons/question2.svg"
                                                alt="female icon">
                                        </span>
                                    </nz-form-label>
                                </td>
                                <td>
                                    <label nz-checkbox [formControlName]="item.index"></label>
                                </td>
                            </tr>
                        </tbody>

                    </nz-table>
                </div>


                <!-- roleSelect -->
                <div nz-col [nzMd]="24" [nzLg]="24" class="pt-24">

                    <ng-container formArrayName="roles"
                        *ngFor="let control of personalForm.get('roles')['controls']; let i = index;">
                        <ng-container [formGroupName]="i">
                            <nz-table class="mt-4" #roleSelectData [nzData]="personalForm.get('roles')['controls']"
                                [nzShowPagination]="false" [nzSize]="'small'">
                                <thead>
                                    <tr>
                                        <th nzWidth="160px">Role</th>
                                        <th nzWidth="160px">
                                            <span class="btn-add-role" (click)="addRole()" *ngIf="i == 0">
                                                Add <i class="plus icon"></i>
                                            </span>
                                            <span class="btn-add-role" (click)="deleteRole($event, i)" *ngIf="i != 0">
                                                delete <i class="minus icon"></i>
                                            </span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="ant-table-selection-column">
                                            <nz-form-label class="f-left"> Date</nz-form-label>
                                        </td>
                                        <td>
                                            <nz-form-control>

                                                <nz-date-picker [nzInputReadOnly]="true" formControlName="roleDate" nzPlaceHolder="date"
                                                    class="block">
                                                </nz-date-picker>
                                            </nz-form-control>
                                            <!-- <nz-form-control>
                                                <nz-month-picker formControlName="exDate" nzSize="small" [nzInputReadOnly]="true"
                                                    nzPlaceHolder="Select Month and year"></nz-month-picker>
                                            </nz-form-control> -->
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="ant-table-selection-column">
                                            <nz-form-label class="f-left"> Role type
                                                <span class="help-text" tooltip="{{roleTypeHelp}}"
                                                    display-mobile="false" hide-delay="50">
                                                    <img class="mr-8"
                                                        src="assets/icons/flat/ui_set/custom_icons/question2.svg"
                                                        alt="female icon">
                                                </span>
                                            </nz-form-label>
                                        </td>
                                        <td>
                                            <nz-form-control>
                                                <nz-select formControlName="roleType" nzShowSearch nzAllowClear
                                                    nzPlaceHolder="select a role">

                                                    <nz-option *ngFor="let item of roleType; trackBy: trackByFn;"
                                                        nzValue="{{ item.value }}" nzLabel="{{ item.name }}">
                                                    </nz-option>

                                                </nz-select>
                                            </nz-form-control>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="ant-table-selection-column">
                                            <nz-form-label class="f-left"> Position</nz-form-label>
                                        </td>
                                        <td>
                                            <nz-form-control>
                                                <nz-select formControlName="rolePosition" nzShowSearch nzAllowClear
                                                    nzPlaceHolder="select a position">

                                                    <nz-option *ngFor="let item of PositionsList; trackBy: trackByFn;"
                                                        nzValue="{{ item.value }}" nzLabel="{{ item.name }}">
                                                    </nz-option>

                                                </nz-select>
                                            </nz-form-control>
                                        </td>
                                    </tr>

                                </tbody>

                            </nz-table>
                        </ng-container>

                    </ng-container>
                </div>


                <!-- wwcc -->
                <div nz-col [nzMd]="24" [nzLg]="24" class="pt-24">
                    <ng-container formArrayName="wwccInput"
                        *ngFor="let control of personalForm.get('wwccInput')['controls']; let idx = index;">
                        <ng-container [formGroupName]="idx">
                            <nz-table class="mt-4" #roleSelectData [nzData]="personalForm.get('wwccInput')['controls']"
                                [nzShowPagination]="false" [nzSize]="'small'">
                                <thead>
                                    <tr>
                                        <th nzWidth="160px">WWCC</th>
                                        <th nzWidth="160px">
                                            <span class="btn-add-role" (click)="addWWCC()" *ngIf="idx == 0">
                                                Add <i class="plus icon"></i>
                                            </span>
                                            <span class="btn-add-role" (click)="deleteWWCC($event, idx)"
                                                *ngIf="idx != 0">
                                                delete <i class="minus icon"></i>
                                            </span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="ant-table-selection-column">
                                            <nz-form-label class="f-left"> Card number</nz-form-label>
                                        </td>
                                        <td>
                                            <nz-form-control>
                                                <input nz-input formControlName="cardNumber" placeholder="card number"
                                                    type="text" />
                                            </nz-form-control>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="ant-table-selection-column">
                                            <nz-form-label class="f-left"> Issuing State</nz-form-label>
                                        </td>
                                        <td>
                                            <nz-form-control>

                                                <nz-select formControlName="issuingState" nzShowSearch nzAllowClear
                                                    nzPlaceHolder="select a state">

                                                    <nz-option
                                                        *ngFor="let item of IssuingStateList; trackBy: trackByFn;"
                                                        nzValue="{{ item.value }}" nzLabel="{{ item.name }}">
                                                    </nz-option>

                                                </nz-select>
                                            </nz-form-control>
                                        </td>
                                    </tr>

                                    <tr>

                                        <td class="ant-table-selection-column">
                                            <nz-form-label class="f-left"> Expiry date</nz-form-label>
                                        </td>
                                        <td>
                                            <nz-form-control>
                                                <nz-date-picker [nzInputReadOnly]="true" formControlName="expiryDate" nzPlaceHolder="date"
                                                    class="block">
                                                </nz-date-picker>
                                                <!-- <nz-month-picker [nzInputReadOnly]="true" formControlName="expiryDate" nzSize="small"
                                                    nzPlaceHolder="expiry date"></nz-month-picker> -->
                                            </nz-form-control>

                                        </td>
                                    </tr>

                                </tbody>

                            </nz-table>
                        </ng-container>

                    </ng-container>
                </div>

                <!-- supporting document -->
                <div nz-col [nzMd]="24" [nzLg]="24" class="pt-24">
                    <nz-table class="mt-4" #supportingDocData [nzData]="supportingDoc" [nzShowPagination]="false"
                        [nzSize]="'small'" formArrayName="documentCheck">
                        <thead>
                            <tr>
                                <th>Supporting Documents</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of supportingDocData.data; trackBy: trackByFn;">
                               
                                <td class="ant-table-selection-column">
                                   
                                    <nz-form-label>
                                        {{item.name}}
                                    </nz-form-label>
                                </td>
                                <td>

                                    <div class="image-upload">
                                        <input name="imageUrl" type="file" accept=".pdf"
                                            (change)="handleInputChange($event, item)" class="inputfile inputfile-2" />
                                        <span>
                                            <nz-progress *ngIf="item.showBar" [nzPercent]="item.progress"
                                                nzSize="small"></nz-progress>
                                        </span>

                                        <span class="text-right">
                                            <a class="action-btn remove" *ngIf="item.progress === 100"
                                                style="color: #e90000;" (click)="romoveFile(item)">
                                                <i class="trash alternate outline icon mr-4"
                                                    style="color: #e90000;"></i>
                                                remove
                                            </a>
                                        </span>
                                        
                                    </div>

                                    <!-- simple uploading -->

                                    <!-- <nz-upload nzAction="">
                                        <button [disabled]="false" type="button" nz-button>
                                            <i nz-icon nzType="upload"></i>
                                            <span>Click to Upload</span>
                                        </button>
                                    </nz-upload> -->

                                    <!-- <nz-upload
                                        nzAction="https://jsonplaceholder.typicode.com/posts/"
                                        [nzFileList]="fileList"
                                        nzMultiple
                                        [nzLimit]="1"
                                        [nzSize] = "100"
                                        [nzFilter]="filters"
                                        (nzChange)="handleChange($event)"
                                        >
                                        <button nz-button><i nz-icon nzType="upload"></i><span>Upload</span></button>
                                        </nz-upload> -->
                                    <!-- <nz-upload 
                                        [nzAction]="uploadDirectory" 
                                        [nzLimit]="1" 
                                        [nzSize]="100" 
                                        [nzFilter]="filters">
                                        <button nz-button><i nz-icon nzType="upload"></i><span>Click to
                                                Upload</span></button>
                                    </nz-upload> -->
                                    <!-- <nz-upload
                                        nzDisabled ="true"
                                        [nzAction]="uploadDirectory" 
                                        [nzCustomRequest]="customReq"
                                        (nzChange)="changeFile($event)">
                                        <button nz-button><i nz-icon nzType="upload"></i><span>Click to Upload</span></button>
                                      </nz-upload> -->
                                    <!-- <nz-upload [(nzFileList)]="fileList" [nzBeforeUpload]="beforeUpload">
                                        <button nz-button><i nz-icon nzType="upload"></i><span>Select File</span></button>
                                      </nz-upload>
                                      <button
                                        nz-button
                                        [nzType]="'primary'"
                                        [nzLoading]="uploading"
                                        (click)="handleUpload()"
                                        [disabled]="fileList.length == 0"
                                        style="margin-top: 16px"
                                      >
                                        {{ uploading ? 'Uploading' : 'Start Upload' }}
                                      </button> -->

                                    <!-- <div style="text-align:center; margin-top: 100px; "><mat-card style="margin-top:10px; width: 50%;">  
                                        <mat-card-content>  
                                            <ul>  
                                                <li *ngFor="let file of files">  
                                                    <mat-progress-bar [value]="file.progress"></mat-progress-bar>  
                                                    <span id="file-label">  
                                                          
                                                    </span>  
                                                </li>  
                                            </ul>  
                                        </mat-card-content>  
                                        <mat-card-actions>  
                                            <button mat-button color="warn" (click)="onClick()">  
                                                <mat-icon>file_upload</mat-icon>  
                                                Upload  
                                            </button>  
                                        </mat-card-actions>  
                                    </mat-card><input type="file" #fileUpload id="fileUpload" name="fileUpload" multiple="multiple" accept="image/*" style="display:none;" /></div> -->
                                </td>
                            </tr>
                        </tbody>

                    </nz-table>
                </div>
            </div>
        </div>
        <div mat-dialog-actions class="m-0 py-16 px-24 fm-border-top" fxLayout="row" fxLayoutAlign="space-between center">

            <span></span>

            <span class="text-right">

                <button class="text-uppercase mr-8" nz-button nzType="primary" [promiseBtn]="buttonLoader"
                    [disabled]="!personalForm.valid">
                    <i class="plus icon mr-8"></i>
                    Save
                </button>

                <!-- <button class="text-uppercase mr-8" type="button" nz-button nzType="default"
                    (click)="resetForm($event)">
                    Reset
                </button> -->

                <button class="text-uppercase mat-close-btn" type="button" nz-button nzType="danger"
                    (click)="matDialogRef.close()">
                    Close
                </button>

            </span>

        </div>

    </form>

</div>