.fuse-card {
    //width: 100%;
    margin-top: 10px;
}

.trash:hover {
    cursor: pointer;
    color: red;
}

.edit:hover {
    cursor: pointer;
    color: dodgerblue;
}

.accessButton {
    margin-left: 10px;
}

.child-img {
    margin-left: 10px;
    margin-right: 10px;
}
