<div class="page-layout carded fullwidth inner-scroll" *canViewAuth [@fadeInOnEnter]>

    <!-- CENTER -->
    <div class="center">

        <!-- CONTENT HEADER -->
        <div class="header pt-24 pb-24" fxLayout="row" fxLayoutAlign="space-between center">

            <h1 [@animate]="{ value:'*', params:{ delay: '100ms', x:'-25px' } }">

                <span class="h2">
                    Manage Booking
                </span>

            </h1>

            <ng-container *hasPermission="['AC1']; belongsTo 'N25'">

                <button class="text-uppercase"
                    nz-button 
                    nzType="primary" 
                    (click)="createBooking($event)"
                    [promiseBtn]="buttonLoader">
                    <i class="plus icon mr-8"></i> Create New
                </button>

            </ng-container>

        </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card ps" [@animate]="{ value:'*', params:{ delay: '100ms', y:'15px' } }">

            <!-- CONTENT TOOLBAR -->
            <div class="toolbar px-8" fxLayout="row" fxLayoutAlign="space-between center">

                <span class="text-uppercase go-back-link" 
                    (click)="onBack($event)">
                    <i class="long arrow alternate left icon"></i> 
                    <span>Go Back</span>
                </span>

                <span fxLayout="row" fxLayoutAlign="space-between center">

                    <span class="clear-filter" 
                        *ngIf="filterFormChanged" [@fadeMotion]
                        (click)="clearFilter($event)">
                        clear filter
                    </span>

                    <button class="text-uppercase blank"
                        nz-button 
                        nzType="link"
                        (click)="toggleSidebar('child-calendar-filter-sidebar')">
                        <i class="filter icon"></i>
                    </button>

                    <button class="text-uppercase blank qt"
                        [ngClass]="{ 'active' : viewHelpPanel }"
                        nz-button 
                        nzType="link"
                        (click)="showHelpPanel($event)">
                        <i class="question circle outline icon"></i>
                    </button>

                    <button class="text-uppercase blank"
                        nz-button 
                        nzType="link" 
                        nzSize="large" 
                        [matMenuTriggerFor]="menu">
                        <i class="ellipsis vertical icon"></i>
                    </button>

                    <mat-menu #menu="matMenu" backdropClass="tlp-more">

                        <button mat-menu-item 
                            (click)="refreshCalendar($event)">
                            <i class="sync alternate icon"></i>
                            <span class="font-weight-600">Refresh</span>
                        </button>

                        <button mat-menu-item 
                            (click)="manageBookings($event)">
                            <i class="edit outline icon"></i>
                            <span class="font-weight-600">Manage Bookings</span>
                        </button>

                        <button mat-menu-item 
                            (click)="updateBatchAttendance($event)">
                            <i class="copy outline icon"></i>
                            <span class="font-weight-600">Bulk Attendance Update</span>
                        </button>

                    </mat-menu>

                </span>

            </div>
            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
            <div class="content ps" fxLayout="column">

                <div class="loading-bar" *ngIf="calendarLoading" [@fadeMotion]>
                    <div class="__inner">
                        <img src="assets/loading/gears_c1.svg">
                        <span>Loading! Please Wait...</span>
                    </div>
                </div>

                <div class="help-panel" *ngIf="viewHelpPanel" [@slideMotion]="'bottom'">

                    <div class="booking-summary">

                        <ul>
                            <li>
                                <span class="label">
                                    <i class="hourglass half icon mr-4"></i>
                                    Sessions
                                </span>
                                <span class="label highlight">{{ bookingSummary?.totalSessions || 0 }}</span>
                            </li>
                        </ul>
    
                        <ul>
                            <li>
                                <span class="label">
                                    <i class="clock half icon mr-4"></i>
                                    Hours
                                </span>
                                <span class="label highlight">{{ bookingSummary?.totalHours | number : '1.1-1' || 0 }}</span>
                            </li>
                        </ul>
    
                        <ul>
                            <li>
                                <span class="label">
                                    <i class="money bill alternate icon mr-4"></i>
                                    Fee
                                </span>
                                <span class="label highlight">{{ bookingSummary?.totalFees || 'N/A' }}</span>
                            </li>
                        </ul>

                    </div>

                    <ul class="booking-types">
                        <li *ngFor="let item of bookingTypes; trackBy: trackByFn;">
                            <i class="color-box circle icon color-code mr-8 {{ item.name | lowercase }}"></i>
                            <span class="label">{{ item.name }}</span>
                        </li>
                    </ul>

                </div>

                <booking-calendar-view 
                    [isCreateButtonLoading]="buttonLoader"
                    (updateBookingSummary)="getBookingSummaryUpdates($event)"></booking-calendar-view>

            </div>
            <!-- / CONTENT -->

            <!-- SIDEBAR -->
            <fuse-sidebar class="sidebar"
                name="child-calendar-filter-sidebar"
                position="right">

                <child-calender-filters [@animate]="{ value:'*', params:{ delay: '200ms', x:'30px' } }"></child-calender-filters>

            </fuse-sidebar>
            <!-- / SIDEBAR -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>