@import "src/@fuse/scss/fuse";

app-provider-edit-finacial {
    flex-direction: column;
    @include media-breakpoint('xs') {
        width: 100%;
    }

    @include media-breakpoint('gt-xs') {
        width: 640px;
    }

    form{
        width: 100%;
        text-align: left;
    }

}
.provider-setup-new-financial-edit-dialog {

    @include media-breakpoint('xs') {
        width: 100%;
    }

    @include media-breakpoint('gt-xs') {
        width: 640px;
    }

    form{
        width: 100%;
        text-align: left;
    }
}