
<div 
    id="is-cases" 
    class="page-layout simple left-sidebar inner-sidebar inner-scroll" 
    *canViewAuth
    [@fadeInOnEnter] 
    [@fadeOutOnLeave]>

    <!-- HEADER -->
    <div class="header p-24" fxLayout="row" fxLayoutAlign="space-between center">
    
        <h1 [@animate]="{ value:'*', params:{ delay: '100ms', x:'-15px' } }">Innovative Solution Cases</h1>
    
        <ng-container>
    
        </ng-container>
    
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <!-- SIDEBAR -->
        <fuse-sidebar class="sidebar" name="innovatice-solution-case-filter-sidebar" position="left" lockedOpen="gt-md">

            <innovative-solution-side-bar 
                [@animate]="{ value:'*', params:{ delay: '200ms', x:'-15px' } }" 
                fusePerfectScrollbar
                [fusePerfectScrollbarOptions]="{ suppressScrollX: true }" 
                (updateTableScroll)="updateScroll($event)">
            </innovative-solution-side-bar>

        </fuse-sidebar>
        <!-- / SIDEBAR -->

        <!-- CENTER -->
        <innovative-solution-cases-list-view 
            class="center p-24 pt-32" 
            fusePerfectScrollbar
            [fusePerfectScrollbarOptions]="{ suppressScrollX: true }" 
            (updateTableScroll)="updateScroll($event)"
            [@animate]="{ value:'*', params:{ delay: '200ms', x:'15px' } }">
        </innovative-solution-cases-list-view>
        <!-- / CENTER -->

    </div>
    <!-- / CONTENT -->

</div>