@import "src/@fuse/scss/fuse";

.missed-attendance-new-dialog {

    @include media-breakpoint('xs') {
        width: 100%;
    }

    @include media-breakpoint('gt-xs') {
        width: 640px;
    }

    .mat-dialog-container {
        padding: 0;


    }

    .dialog-content-wrapper {
        display: flex;
        flex-direction: column;

        .box{
                width: 100%!important;
                border-style: solid;
                border-radius: 10px;
                border-color: cadetblue;
                padding: 8px!important;
                display: flex!important;
                font-weight: bold

        }
    }
}