<!-- SIDEBAR HEADER -->
<div class="header p-24 pt-32" style="padding-top: 32px !important;">
    <span class="title">Filters</span>
</div>
<!-- / SIDEBAR HEADER -->

<!-- SIDEBAR CONTENT -->
<div class="content p-24 pt-0">

    <form fxLayout="column" fxFlex [formGroup]="paymentProviderFilterForm">


        <div class="mb-16">
        
            <label class="filter-label">Status</label>
        
            <nz-radio-group formControlName="status">
        
                <label nz-radio nzValue="all" class="_filter">All</label>
                <label nz-radio nzValue="0" class="_filter">Active</label>
                <label nz-radio nzValue="1" class="_filter">Inactive</label>
        
            </nz-radio-group>
        
        </div>

        <button class="mb-12" nz-button nzType="default" *ngIf="showFilterButton" [@fadeInOnEnter] [@fadeOutOnLeave]
            (click)="clearFilter($event)">Reset</button>

        <button 
            nz-button 
            nzType="default" 
            (click)="filter($event)"
            [disabled]="loading || paymentProviderFilterForm.invalid"
        > <i class="filter icon mr-8"></i> Filter</button>

    </form>


</div>
<!-- / SIDEBAR CONTENT -->